* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    list-style: none;
    transition: all 0.2s ease-in-out;
}
html{
    overflow-x: hidden;
}


img{
    max-width: 100%;
}
.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0px 5%;    

}
.flex{
    display: flex;
}
.items-center{
    justify-content: center;
}

.pagination {
    display: flex;
    gap: 10px;
}
.pagination-item a{
    padding: 7px 10px;
    font-size: 1.2em;
    background-color: rgb(222, 232, 239);
}
.pagination-item a:hover{
    padding: 7px 10px;
    font-size: 1.2em;
    background-color: rgb(157, 199, 236);
}
