@media screen and (max-width:1100px) {
    nav ul li {
        margin: 0px 30px;
    }

    .banner .image {
        width: 160%;
    }

    .post-second {
        width: 100%;
    }
}

@media screen and (max-width:912px) {
    .banner .text h1 {
        font-size: 2.5em;
    }
}

@media screen and (max-width:768px) {
    nav ul {
        display: none;
    }

    .menu {
        display: block;
    }

    .banner .text h1 {
        font-size: 2.3em;
    }

    .banner {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-top: -45px;
    }

    .banner .image {
        width: 100%;
        margin-top: 40px;
    }

}