* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    font-family: "Poppins", sans-serif;
    list-style: none;
}

html,
body {
    overflow-x: hidden;
}

img {
    max-width: 100%;
}

section {
    margin: 30px 0px;

}

.container {
    padding: 0px 3%;
}

nav {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-around;
    background-color: orange;
}

ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav ul li {
    margin: 0px 50px;
}

nav ul li a {
    color: #232323;
    font-size: 1.3em;
    font-weight: 600;
}

.logo {
    padding-top: 16px;
}

.logo a {
    color: #232323;
    font-size: 1.7em;
    font-weight: bold;
}

.menu {
    display: none;
    padding-top: 16px;
}

.menu a {
    color: #232323;
    font-size: 1.7em;
    font-weight: bold;
}

.banner {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

.banner .text h1 {
    font-size: 3em;
}

a.btn {
    padding: 10px 30px;
    background-color: orange;
    color: #232323;
    border-radius: 7px;
    font-weight: 600;
}

.banner .image {
    width: 90%;
}

.banner .image img {
    border-radius: 7px;
}

center>h2 {
    font-size: 2em;
    padding: 10px 0px;
}

.our-posts {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px 0px;
}

.our-posts .post {
    width: 300px;
    max-width: 370px;
    height: 300px;
    background-color: orange;
    margin: 10px;
}

.post-second {
    width: 48%;
    height: 300px;
    background-color: orange;
    margin: 10px;
}