/* :root{
    --var1:red;
} */
/* @import 'vars.css' */

/* @font-face {
    font-family: ;
    src: url();
} */
/* *{}
p{}
.p{}
#p{}
p > span , i {}
p > * {}

input[type='password']{} */
/* div[class^='box']{
    background-color: red;
} */
/* p,h1,span{} */


/* COLOR  */
/* red 
#fff
rgb(12,12,12)
rgba(12,12,12,0.5) */

/* Background  */


    /* background-image: url(); */
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
    /* background-position: center; */
    /* background: ; */
    /* background-attachment: fixed; */
    /* background-color: red;
    background-blend-mode: lighten; */
    /* background: linear-gradient(), radial-gradient(); */
 

/* Borders  */
.container{
    /* border: solid 1px red ; */
    /* border-style: double;
    border-width: 5px;
    border-color: blue;
    
    border-radius: 30px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px; */
    margin: 0 100px;
    width: 600px;
    height: 600px;

    border-style: solid;
    border-image: url(https://papik.pro/en/uploads/posts/2022-07/1658711130_14-papik-pro-p-picture-blue-background-without-a-pattern-14.jpg) 50/30px ;
  
}

/* margin and padding  */
/* div{
    padding: 10px; 
    margin: 10px;

    padding: 10px 0px 10px 0px;
    margin: 10px 0px 10px 0px;

    padding-top: ;
    margin-top: ;
    margin-left: ;

    padding: 0 5%;
    margin: 0 auto;
} */

/* width , outline  */

/* div {
    width: 100%;
    max-width: 560px;
    min-width: none;

    max-height: 600px;
    min-height: 300px;

    outline: solid 2px rgba(30, 90, 120, 0.5);
} */

/* text, font  */
div {
    text-align: center;
    text-decoration: underline;
    text-transform: lowercase;
    text-overflow: ellipsis;
    text-shadow: 2px 2px 3px red;
    text-indent: 80px;

    font-size: 23px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    font-style: italic;
}
/* z-index , overflow , float  */
body{
    overflow-x: hidden;
}
div{
    z-index: 0;
    overflow: scroll;
    overflow-x: hidden;
    float: right;
    clear: left;
}

/* pseudo class , pseudo elements */

/* https://www.w3schools.com/css/css_pseudo_classes.asp */
/* div:hover{}
a:active{}
input:disabled{}
input[type='chexbox']:checked{}
div:link{} */

/* div::after{}
div::before{}
div::selection{} */

/* opacity  */

/* div{
    opacity: 0.1;
} */


/* Transforms */
/* 2d transform  */
div{
    perspective: 2000px;
    perspective-origin: center center;
}  
div{
    transform-origin: center;
    transform-style: preserve-3d;
    transform: rotate(), translate(), skew(), scale();
}
/* 3d transform  */
div{
    /* transform: rotateX('angle') rotateY('angle') rotateZ('angle'); */
    /* transform: rotate3d(1,0,1,45deg) translate3d(100px, 0px, 500px) scale3d(1.5,1,2.0); */
}

/* transitions  */

div{
    transition: all 0.3s ease-in-out;

    transition-property: background;
    transition-duration: 300ms;
    transition-delay: 100ms;
    transition-timing-function: ease-in-out;
}

/* animations  */

div{
    animation-name: blob;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 3;

    animation-fill-mode: both;
    animation-direction: alternate;
    animation-delay: 10s;
}

@keyframes blob {
    from{
        transform: translate(0,0);
    }
    to{
        transform: translate(100px,100px);
    }
    /* 0%{

    }
    100%{

    } */
}

/* media query  */
@media screen and (max-width:768px){
    body{
        background-color: red;
    }
}

/* root , var  */

:root{
    --var-shadow:30px 25px 50px #232323;
}
div{
    box-shadow: var(--var-shadow);
}

div{
    transform: rotate(45deg);
    /* -webkit- */
    -webkit-transform: rotate(45deg);
}