*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body {
  background: rgb(246,0,0);
	background: linear-gradient(90deg, rgba(246,0,0,1) 0%, rgba(214,240,76,1) 100%, rgba(223,223,238,1) 100%);
}

