* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    list-style: none;
    transition: all 0.3s ease-in-out;
}

body {
    background-color: #d9cdcd;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0px 5%;
}
img{
    max-width: 100%;
}

.site{
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-template-rows: repeat(10, 100px);
    grid-template-areas: 
        "navbar navbar navbar navbar navbar"
        "navbar navbar navbar navbar navbar"
        "sidebar main-content main-content main-content main-content"
        "sidebar main-content main-content main-content main-content"
        "sidebar main-content main-content main-content main-content"
        "sidebar main-content main-content main-content main-content"
        "sidebar main-content main-content main-content main-content"
        "sidebar main-content main-content main-content main-content"
        "sidebar main-content main-content main-content main-content"
        "sidebar main-content main-content main-content main-content"
    ;
}
.navbar{
    grid-area: navbar;
    background-color: red;
}
.sidebar{
    grid-area: sidebar;
    background-color: yellow;
}
.main-content{
    grid-area: main-content;
    background-color: blue;

}


.grid-container {
    border: solid 1px black;
    padding: 20px;


    display: grid;
    /* grid-template-columns: auto auto auto; */
    /* grid-template-columns: auto auto auto auto auto ; */
    grid-template-columns: repeat(5,auto);
    grid-template-rows:repeat(5,200px) ;
    /* justify-content: center; */
    /* align-items: center; */
    grid-template-areas: 
        "area1 area1 area1 area2 area2"
        "area1 area1 area1 area2 area2"
        "area1 area1 area1 area2 area2"
        "area1 area1 area1 area2 area2"
        "area1 area1 area1 area2 area2"
    
    ;
  }
.grid-item:nth-child(1){
    grid-area: area1;
}
.grid-item:nth-child(2){
    grid-area: area2;
}

.grid-item{
    width: 100%;
    padding: 10px 30px;
    background-color: aqua;
    text-align: center;
    margin: 0 auto;
    border: solid 1px rgb(231, 14, 14);
}

.gallery{
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);
    gap: 10px 20px;
}
.gallery-item{
    cursor: pointer;
}