* {
    box-sizing: border-box;
    /* box-sizing: content-box; */
}

html,
body {
    /* background-color: red; */
    /* background-color: rgb(106, 221, 159); */
    /* background-color: rgba(8, 0, 255, 0.388); */
    /* background-color: #A7D0CD; */
    /* color: #232323; */
    /* rasm  */
    /* background-image: url(../src/book1.png); */
    /*takorlanish :repeat-x , repeat-y */
    /* background-repeat: no-repeat; */
    /*hajmi*/
    /* background-size: cover; */
    /*joylashuv : top , center , bottom , left , right*/
    /* background-position: top center; */
    /*harakatlanishi : scroll , fixed*/
    /* background-attachment: fixed; */
}

.container {
    padding: 0px 10%;
}

.box {
    width: 300px;
    height: 300px;
    background-color: khaki;

    /* border-style: solid;
    border-width: 5px;
    border-color: blue; */

    /* border: dotted 10px red; */
    /* margin: 30px; */
    /* padding: 10px; */
    /* margin-top: 50px;
    margin-left: 100px;
    margin-bottom: 100px;
    margin-right: 30px; */
    /* y , x  */
    /* margin: 100px 50px; */
    /* top , right , bottom , left  */
    margin: 100px 30px 90px 120px;

    padding: 100px 50px 80px 80px;
    border-left: solid 50px red;
}