* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    list-style: none;
    transition: all 0.3s ease-in-out;
}

body {
    background-color: #ffffff;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0px 5%;
}

img {
    max-width: 100%;
}

.flex-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row wrap;
    min-height: 600px;
    border: solid 1px #333F51;

}

.box:nth-child(2) {
    /* flex item uchun en qiymati  */
    /* flex-grow: 1; */
    /* flex-shrink: 0.5; */
    flex-basis: 1;
    align-self: flex-start;
}

.box {
    width: 150px;
    height: 150px;
    background-color: orange;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    color: #ffffff;
}

.users {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 10px;
}

.team {
    width: 1000px;
    width: 300px;
    height: 300px;
    background-size: cover;
    background-position: center;
    background-image: url(../src/user.png);
}

.right-users {
    display: flex;
    flex-flow: column wrap;
    gap: 10px;
}

.left-user {
    flex-grow: 0.6;
    min-height: 610px;
}

/* flex  */
/* justify-content - x oqida flex item larni joylashuvini boshqarish */
/* align-items  - y oqida flex item larni joylashuvini boshqarish */
/* flex-direction - flex elementlar yo'nalishini belgilash  */
/* flex-wrap - flex item lar flex container ga sigmasa ularni yangi qatordan joylashtirish*/
/* flex-flow  - direction va wrap qiymatlarini qoshib yozish imkoniyati*/
/* flex-grow - flex elemetn enini boshqarish uchun */
/* flex-shrink - flex element choziluvchanligini boshqarish*/
/* flex-basis - flex element choziluvchanligini boshqarish*/
/* flex:0.6 1 content; */
/* align-self  flex element uchun indevidual joylashuv korsatish imkoni*/
/* gap  flex elementlar orasidagi masofani korsatish*/
/* row-gap -  qator orasi */
/* column-gap - ustunlar orasini belgilaydi */

/* tugadi  */