@font-face {
    font-family: "Quicksand", sans-serif;
    src: url('../fonts/Quicksand-VariableFont_wght.ttf');
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* font-family: sans-serif; */
    font-family: "Quicksand", sans-serif;
}


.container {
    padding: 0px 5%;
}

button,
input {
    /* outline: none; */

    /* outline-style: solid;
    outline-width: 5px;
    outline-color: cadetblue; */

    /* shorthand */
    outline: solid 10px red;
}

p {
    text-align: center;
    /* line-trough , underline , overline  */
    text-decoration: none;
    /* uppercase , lowercase , capitalize  */
    text-transform: lowercase;
    /* matn maydonini boshqarish xususiyatlari */

    /* abzatsni belgilash */
    text-indent: 50px;
    /* letter-spacing: 15px; */
    /* word-spacing: 10px; */
    /* line-height: 50px; */
    white-space: normal;
    word-wrap: break-word;
    word-break: normal;

    /* shadow  */

}

.square {
    width: 300px;
    height: 300px;
    background-color: orange;
    box-shadow: 5px 5px 10px rgb(98, 160, 227);
}

.container h1 {
    text-align: center;
    text-transform: uppercase;
    text-shadow: 5px 5px 10px rgb(98, 160, 227);
    font-family: "Poppins", sans-serif;
    font-style: italic;
    font-size: 50px;
    font-weight: 900;


}

.quotes {
    text-align: center;
    padding: 30px 10px;
}

.quotes .quote-title {
    width: 100px;
    padding: 10px 5px;
    background-color: khaki;
    color: darkslategray;

}

.quotes .quote-text {
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 700;
    margin-top: 20px;
}

.quotes .quote-author {
    margin: 30px 0px;
}

.quotes .quote-author h5 {
    font-size: 14px;
    color: rgb(90, 73, 73);
    margin-top: 10px;
}