@media screen and (max-width:1050px) {
    .items_grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        /* repeat(3, 100px) */
        grid-template-rows: repeat(5, 200px);
        grid-column-gap: 20px;
        grid-row-gap: 10px;
    }
}

@media screen and (max-width:480px) {
    .items_grid {
        display: grid;
        grid-template-columns: 1fr;
        /* repeat(3, 100px) */
        grid-template-rows: repeat(9, 200px);
        grid-column-gap: 20px;
        grid-row-gap: 10px;
    }
}