@media screen and (max-width:768px) {
    .col-2 {
        width: 100%;
    }

    .col-3 {
        width: 47%;
    }
}

@media screen and (max-width:360px) {
    .col-2 {
        width: 100%;
    }

    .col-3 {
        width: 100%;
    }
}