.circle {
    overflow: hidden;
    position: absolute;
    width: 800px;
    height: 800px;
    border-radius: 50%;
    transform: translateX(70%);
    background: rgb(255, 3, 3);
    background: linear-gradient(164deg, rgba(255, 3, 3, 1) 0%, rgba(0, 0, 0, 1) 100%);
}

.sun {
    width: 100px;
    height: 100px;
    background-color: yellow;
    border-radius: 50%;
    position: absolute;
    top: 340px;
    left: 190px;
    animation: sun 15s linear infinite alternate;
}

.mount1 {
    width: 400px;
    height: 800px;
    position: absolute;
    background: rgb(13, 9, 88);
    background: linear-gradient(344deg, rgba(13, 9, 88, 1) 0%, rgba(0, 0, 0, 1) 100%);
    transform: rotate(45deg);
    top: 350px;
    left: -180px;
}

.mount2 {
    width: 500px;
    height: 1000px;
    position: absolute;
    background: rgb(13, 9, 88);
    background: linear-gradient(344deg, rgba(13, 9, 88, 1) 0%, rgba(0, 0, 0, 1) 100%);
    transform: rotate(45deg);
    top: 250px;


}

.mount3 {
    width: 400px;
    height: 800px;
    position: absolute;
    background: rgb(13, 9, 88);
    background: linear-gradient(344deg, rgba(13, 9, 88, 1) 0%, rgba(0, 0, 0, 1) 100%);
    transform: rotate(45deg);
    top: 350px;
    right: 60px;
}

.cloud1 {
    position: absolute;
    width: 100px;
    top: 150px;
    left: -100px;
    animation: cloud-1 25s linear infinite;
}

.cloud2 {
    position: absolute;
    width: 150px;
    top: 70px;
    left: -280px;
    /* animation: cloud-2 25s linear infinite; */
    animation-name: cloud-2;
    animation-duration: 25s;
    animation-delay: 6s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.cloud3 {
    position: absolute;
    width: 70px;
    left: -250px;
    top: 180px;
    animation-name: cloud-3;
    animation-duration: 25s;
    animation-timing-function: linear;
    animation-delay: 12s;
    animation-iteration-count: infinite;
}

@keyframes cloud-1 {
    from {
        transform: translateX(0px);
    }

    to {
        transform: translateX(1000px);
    }
}

@keyframes cloud-2 {
    from {
        transform: translateX(0px);
    }

    to {
        transform: translateX(1000px);
    }
}

@keyframes cloud-3 {
    from {
        transform: translateX(0px);
    }

    to {
        transform: translateX(1000px);
    }
}

@keyframes sun {
    from {
        transform: translateY(0px);
    }

    to {
        transform: translateY(70px);
    }
}