* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    transition: all 0.3s;
}

section{
    margin-top: 20px;
    margin-bottom: 30px;
}
.container{
    max-width: 1600px;
    margin-right: auto;
    margin-left: auto;
    padding:0px 20px;

}
.row{
    width: 100%;
}

.column{
    float: left;
    width: 23.3%;
    padding: 20px 50px;
    margin:5px; 
}
.col-sm{
    float: left;
    width: 48%;
    padding: 5px;
    margin:5px; 
}
/* .col-md{
    float: left;
    width: 48%;
    padding: 5px;
    margin:5px; 
}
.col-lg{   
    float: left;
    width: 23%;
    padding: 5px;
    margin:5px;     
} */

@media screen  and  (max-width:992px) {
    .service-box .image .desktop{
        display: none;
    }

    /* 100% Tablet screen : 3/1 */
    .column{
        float: left;
        width:48%;
    }
}

@media screen  and  (max-width:768px){
    .col-sm{
        float: left;
        width: 100%;
        padding: 5px;
        margin:5px; 
    }
}

@media screen  and  (max-width:560px) {
    /* 100% Mobile screen : 1/1 */
    .column{
        float: left;
        width:100%;
        padding: 5px 10px;
        margin:5px;
    }

}

@media screen  and  (max-width:420px){
    .container{
        margin-right: auto;
        margin-left: auto;
        padding:0px 5px;
    }
}