* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Gentona", sans-serif;
    text-decoration: none;
}

html {
    /* x o'qida elementga sigmagan narsalar
    korinmaydi  */
    overflow-x: hidden;
}

body {
    width: 100%;
    /* element balandligi 100% 
    brauzer oynasi balandligiga teng */
    height: 100vh;

}

img {
    max-width: 100%;
}

.container {
    padding: 0px 5%;
}

.card-404 {
    margin: 50px 0px;
    text-align: center;
}

.card-404 .image {
    width: 80%;
    /* elementni markazga keltirish */
    margin: 0 auto;
}

.card-404 .image img {
    width: 70%;
    border-radius: 80px;
}

.text {
    margin-top: 50px;
}

.text .error-type {
    width: 100px;
    background-color: khaki;
    padding: 7px 3px;
    border-radius: 5px;
    color: rgb(166, 160, 104);
    margin: 0 auto;
}

.text .error-text {
    margin-top: 15px;
    font-size: 60px;
    font-weight: 700;
}

.text .error-subtext {
    margin-top: 15px;
    font-size: 20px;
    color: gray;
}

.buttons {
    margin-top: 50px;
}

.btn {
    padding: 15px 30px;
    border-radius: 5px;
    margin: 0 30px;
}

.go-back {
    background-color: #22C45E;
    color: white;
    font-size: 20px;
}

.try-again {
    border: solid 1px gray;
    font-size: 20px;
    color: black;
}