* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Poppins", sans-serif;
    transition: all 0.5s;
}

body {
    background-color: orange;
}

.container {
    padding: 0px 3%;
}

.row {
    width: 100%;
}

.column {
    max-width: 24%;
    display: inline-block;
}

.box {
    max-width: 330px;
    height: auto;
    padding: 20px 15px;
    background-color: burlywood;
    display: inline-block;
    margin: 10px 20px;
    border-radius: 10px;
    box-shadow: 1px 3px 15px khaki;
}

@media screen and (max-width:1200px) {
    .box {
        padding: 15px 10px;
        margin: 5px 10px;
    }
}

@media screen and (max-width:1024px) {
    .column {
        max-width: 49%;
        display: inline-block;
    }
}

@media screen and (max-width:540px) {
    .column {
        max-width: 100%;
        display: inline-block;
    }
}

/* @media screen and (max-width:1200px) {
    body {
        background-color: rgb(246, 219, 8);
    }
}


@media screen and (max-width:800px) {
    body {
        background-color: rgb(93, 89, 60);
    }
}

@media screen and (max-width:300px) {
    body {
        background-color: rgb(23, 23, 20);
    }
} */