<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="css/todo.css">
        <!-- Compiled and minified CSS -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<main id="app">
    <br>
    <center>
        <div class="container">
            <form action="" class="form" @submit.prevent="addTodo">
                  <div class="row">
                    <div class="input-field col s10">
                      <input v-model="newTodo" id="first_name2" type="text" class="validate">
                        <label class="active" for="first_name2">New Todo</label>

                    </div>
                      <div class="col s2">
                          <br>
                          <input type="submit" name="add" value="Add" class="btn">
                      </div>
                  </div>
                <div class="row">
                    <div class="col s12">
                        <ul class="collection">
                            <li class="collection-item" v-for="todo in todos">
                                <h5>
                                    {{todo.title}}
                                    <label>
                                    <input type="checkbox" class="filled-in" :checked="todo.done" />
                                    <span>Done</span>
                                  </label>
                                </h5>
                            </li>
                        </ul>
                    </div>
                </div>
            </form>
        </div>
    </center>
</main>

<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
<script src="js/app.js"></script>
</body>
</html>