
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    transition: all 0.3s ease-in-out;    
}
section{
    margin: 150px 0;
}
.container{
    padding: 0 7%;
    margin: 0 auto; 
}
body{
    overflow-x: hidden;
}
/* 5 qator , 5 ustuni bor grid oching */
/* md ekaranda 3 ta ustunga otadi  */
/* sm ekaranda 1 ta ustunga otadi  */
.grid-container{
    display: grid;
    grid-template-columns:repeat(3,auto);
    grid-template-rows:repeat(3,auto);
    gap:10px 20px ;
    /* row-gap: 10px;
    column-gap: 20px; */
}
.grid-item{
    padding: 20px 30px;
    font-size: 1.5em;
    color: #333;
    font-weight: bold;
    background-color: #ccc;
}
