{% block content %}
    <main>
        <div class="container">
            <div class="korzina">
                <div class="korzina-img">
                    <img src="./images/korzina.svg" alt="Image">
                </div>
                <div class="korzina-title">
                    <h3>Корзина пуста</h3>
                    <p>Но это никогда не поздно исправить :)</p>
                </div>
                    <button class="korzina-btn">
                        <a href="#">В каталог товаров</a>
                    </button>
            </div>
        </div>
    </main>
    {% endblock content %}