@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}
header{
    width: 100%;
    height: 60px;
    background: darkorange;
}
.navbar{
    float: left;
}
.navbar a{
    font-size: 26px;
    padding: 20px 23px;
}
.container{
    margin: 100px 0px 20px 0px;
    display: flex;
    justify-content: center;
    align-content: center;
}
input{
    border: 0.3px solid red;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    outline: none;
}
button{
    padding: 10px;
    border: none;
    outline: none;
    background: #b54507;
    color: #f0f0f0;
    border-radius: 10px;
    height: 58px;
    cursor: pointer;
}
button:hover{
    opacity: 0.9;
}
.card{
    width: 100%;
    padding: 20px;
    min-height: 200px;
    border-radius: 10px;
    background:#f8f8f8;
    box-shadow: 1px 1.5px 2px black;
}
i{
    color: #b54507;
    font-size: 30px;
    padding-right:10px ;
}
#country{
    font-size: 30px;
}
#temp{
    font-size: 30px;
}
#info{
    font-size: 25px;
}
#desc{
    font-size: 25px;
}