<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django home page</title>
</head>
<body>
    <main>
        <section>
            <div class="container">
                <center>
                    <h1>{{page_title}}</h1>
                </center>
                <br><br>
                <form action="" method="POST">
                    {% csrf_token %}
                    {{form}}
                    <br>
                    <input type="submit" value="Send">
                </form>
                <form action="" method="POST">
                    {% csrf_token %}
                    {{reg_form.as_p}}
                    <br>
                    <input type="submit" value="Send">
                </form>
            </div>
        </section>
    </main>
</body>
</html>