* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    transition: all 0.3s;
}
a:hover{
    text-shadow: 1px 1px 5px #1b2f58;
}
.section{
    margin-top: 20px;
    margin-bottom: 30px;
}
.container{
    padding-left: 6%;
    padding-right: 6%;
}
.section-title{
    font-size: 1.5em;
    font-weight: 600;
    color: #696969;
    line-height: 1.1;
}


img {
    vertical-align: middle;
}
body{
    background-color: #E1E4E8;
}
nav{
    background-color: #4067B7;
    display: flex;
    justify-content: space-around;
}
.navbar{
    display: flex;
    justify-content: center;
    padding: 10px 15px;
}
.navbar li{
    margin: 0px 15px;
}
.navbar li a{
    color: white;
}
input.search{
    color: #8f8f8f;
    background-color: #ffffff;
    border: 1px solid #3c61ad;
    border-radius: 4px;
    height: 32px;
    padding: 5px;
    outline:#1b2f58;
}
.search_icon{
    position: absolute;
    width: 25px;
    margin-left: 140px;
    margin-top: 3px;
    z-index: 1;
}
.menu_icon{
    display: none;
}
/* MOBILE */
.mobile{
    background-color: #4067B7;
    position: absolute;
    width: 100%;
    top:-450px;
}
.active{
    width: 100%;
    position: absolute;
    padding: 0px 30px;
    top:40px;
}
.navbar-mobile li{
    margin: 7.5px 10px;
}
.navbar-mobile li a{
   color: white;
}
.item {
    position: relative;
    margin:15px 15px;
    padding-right: 5px !important;
    max-width: 242px;
    background-color: white;
}
.item > a{
    display: block;
    
}
.item>img{
    max-width: 100%;
    display: block;
    height: auto;
}
.item .info {
    text-align: center;
    padding: 8px;
}
.item .title {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 14px;
    color: #fff;
    padding: 0;
}
.item .desc {
    color: rgba(46, 39, 39, 0.5);
    font-size: 1em;
    /* text-overflow: ellipsis; */
    white-space: nowrap;
    overflow: hidden;
}
/* MOVIES SECTION */
.movies{
    display: flex;
    justify-content: flex-start;
    margin-top: 20px;
    align-items: center;

}

/* DETAIL  */
#movie .poster-data {
    width: 260px;
    margin-right: 20px;
    margin-bottom: 10px;
    float: left;
}