
*{
    box-sizing: border-box;
    text-decoration: none;

    margin: 0;
    padding: 0;

    list-style: none;
    list-style-image: url(../src/star.png);

    font-family: sans-serif;

}


.container{
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 10%;
}

.card{
    display: inline-block;
    max-width: 300px;
    background-color: cornflowerblue;
    padding: 40px 30px;
    border-radius: 30px;
}
.card img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.card .btn{
    padding: 15px 40px;
    background-color: blueviolet;
    border-radius: 20px;
}
