*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
}
body{
    overflow-x: hidden;
}
section{
    margin: 50px 0;
}
.container{
    padding: 0 7%;
    margin: 0 auto; 
}

.pagination-item{
    display: inline-block;
    margin: 5px 10px;
}
.pagination-link{
    font-size: 1.2em;
    font-weight: 600;
    color: white;
    background-color: cadetblue;
    padding: 10px;
}
.pagination-link:hover{
    background-color: rgb(52, 91, 93);
}