*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
}
body{
    overflow-x: hidden;
}
section{
    margin: 50px 0;
}
.container{
    padding: 0 7%;
    margin: 0 auto;
 
}
.box{
    width:300px;
    height:300px;
    background:orange;
    /* overflow: hidden; */
    position: relative;
    /* overflow-y:  ; */
    /* overflow-x:  ; */
}
div[class^='inner']{
    background-color: #232325;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
}


.post{
    max-width: 350px;
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #232325;
    /* display: inline-block; */
    float: left;
}
.post .title{
    font-size: 1.5em;
    margin: 10px 0;
    font-weight: 500;
}
.badge{
    max-width: 800px;
} 
.badge .boy-image{
    /* clear: right; */
    float: left;
}
.text{
    max-width: 400px;
    float: left;
}