/* @font-face {
    font-family: "Gotham Pro";
    src: local('Gotham Pro'), url(../fonts/GothamPro-Medium.ttf);
} */
*{
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

section{
    margin: 50px auto;
}
.container{
    padding: 0 5%;
    perspective: 2000px;
}
.box{
    width: 300px;
    height: 300px;
    background: #236366;
}
.box:hover{
    /* 2d  */
    /* transform: translate(x, y); */
    /* transform: 
        translate(100px, 100px) 
        rotate(-45deg)
        scale(1.5)
        skew(30deg)
        ; */
    /* 3d  */
    transform: 
        /* rotateX(45deg) */
        /* rotateY(45deg) */
        /* rotateZ(30deg) */
        /* translateX(100px) */
        /* translateY(-50px) */
        /* translateZ(-500px) */
        /* translate3d(x,y,z) */
        translate3d(50px,-100px,300px)
    ;
}