
body{
    background-color: #232328;
    color: aliceblue;
}

header {
    background-color: gray;
}
header ul{
    background-color: #57ee00;

}
header ul li{
    /* inline - bir qatorda aks ettirish */
    display: inline-block;
}