{% extends "../base.html" %}
{% load static %}
{% block content %}
<main>
    <div class="container">
        <div class="container py-5">        
          
            <!-- First Row [Prosucts]-->
            <div class="card py-2 my-2">
                <ul class="nav">
                    <li class="nav-item">
                      <a class="nav-link active" aria-current="page" href="#">Active</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link disabled" aria-disabled="true">Disabled</a>
                    </li>
                  </ul>
            </div>
          
            <div class="row pb-5 my-4">
              {% for object in object_list %}
              <div class="col-lg-3 col-md-6 my-4 mb-lg-0">
                <!-- Card-->
                <div class="card rounded shadow-sm border-0">
                  <div class="card-body p-4">
                    <h5><a href="#" class="text-dark">{{object.title}}</a></h5>
                    <p class="small text-muted font-italic">
                        {{object.summary|truncatewords:"15"}}
                    </p>
                    <ul class="list-inline small">
                      {% for i in object.get_rating %}
                      <li class="list-inline-item m-0"><i class="fa fa-star text-warning"></i></li>
                      {% endfor %}
                    </ul>
                    <div class="d-flex justify-content-between">
                      <div>
                        <a href="{% url 'main:reaction' object.id 'like' %}">
                          <i class="fa fa-thumbs-up text-success"></i>
                          {{object.like}}
                        </a>
                        <a href="{% url 'main:reaction' object.id 'dislike' %}">
                          <i class="fa fa-thumbs-down text-success"></i>
                          {{object.dislike}}
                        </a>
                      </div>
                        <div>
                            <a href="#">
                                <i class="fa fa-user text-success"></i>
                                {{object.author}}
                            </a>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
            
          
      
          </div>
          
    </div>
</main>
{% endblock content %}