{% extends 'base.html'%}
{% load static %}
{% block content %}
<style>
    .box-element{
        border: 1px solid rgb(186, 179, 179);
       
        padding: 2% 2%;
        border-radius: 10px;
    }
    #user-info{
        display: flex;
        column-gap: 10px;
    }
    #shippin-info{
        display: flex;
        flex-direction: column;
        row-gap: 20px;
    }
    img{
        width: 100%;
    }
    .img{
        width: 120px;
        height: 100px;
        margin-right: 50px;
    }
    
</style>

<div class="row">
    <div class="col-lg-6">
        <div class="box-element" id="form-wrapper">
            <form action="" id="form">
                <div id="user-info">
                    <div class="form-field">
                        <input required class="form-control" type="text" name="name" placeholder="Name ...">
                    </div>
                    <div class="form-field">
                        <input required class="form-control" type="email" name="email" placeholder="Email ...">
                    </div>
                </div>
                <hr>
                    <p>Shipping Info</p>
                <div id="shippin-info">
                    <div class="form-field">
                        <input class="form-control" type="text" name="address" placeholder="Address ...">
                    </div>
                    <div class="form-field">
                        <input class="form-control" type="text" name="city" placeholder="City ...">
                    </div>
                    <div class="form-field">
                        <input class="form-control" type="text" name="state" placeholder="State ...">
                    </div>
                    <div class="form-field">
                        <input class="form-control" type="text" name="zipcode" placeholder="Zip Code ...">
                    </div>
                    <div class="form-field">
                        <input class="form-control" type="text" name="country" placeholder="Country...">
                    </div>
                </div>
                <hr>    
                <input class="btn btn-success btn-block" type="submit" value="Continue">
            </form>
        </div>
        <!-- <div class="box-element hidden" id="payment-info">
            <small>Paypal Options</small>
        </div> -->
    </div>
    <div class="col-lg-6">
        <div class="box-element hidden">
            <a class="btn btn-outline-dark " href="{% url 'store:card'%}"><i class="fa-solid fa-arrow-left mx-2"></i>Back to card</a>
            <hr>
            <h3>Order Summary</h3>
            <hr>
            <table class="table">
                  <tbody>
                       {% for item in items %}
                       <tr>
                        <th class="img" scope="row">
                          <div class="img"><img src="{{ item.product.imageURL }}" alt=""></div>
                        </th>
                        <td>{{ item.product.name }}</td>
                        <td>${{ item.product.price|floatformat:2 }}</td>
                        <td><p class="quantity">x{{ item.quantity }}</p></td>
                      </tr>
                       {% endfor %}
                  </tbody>
            </table>
            <h5><strong>Items: {{ order.get_cart_items }}</strong></h5>
            <h5><strong>Total: ${{ order.get_cart_total|floatformat:2 }}</strong></h5>
        </div>
    </div>
</div>

{% endblock content %}