/*body{*/
/*    background-image:url("img/air1.jpg") ;*/
/*}*/
.box{
    width: 200px;
    height: 200px;
    background:orangered;
    transition: all 0.3s;
}
.radius {
    border-radius: 50px;
}
.transform{
    transform: rotate(45deg);
}
.rotate{
    animation: rotate 2s infinite;
}
@keyframes rotate {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}