{% extends "base.html" %}
{% load static %}
{% block content %}
      <!-- adminx-content-aside -->
      <div class="adminx-content">
        <!-- <div class="adminx-aside">

        </div> -->

        <div class="adminx-main-content">
          <div class="container-fluid">
            <!-- BreadCrumb -->
            <nav aria-label="breadcrumb" role="navigation">
              <ol class="breadcrumb adminx-page-breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
              </ol>
            </nav>

            <div class="pb-3">
              <h1>Dashboard</h1>
            </div>

            <div class="row">
              <div class="col-md-6 col-lg-3 d-flex">
                <div class="card mb-grid w-100">
                  <div class="card-body d-flex flex-column">
                    <div class="d-flex justify-content-between mb-3">
                      <h5 class="card-title mb-0">
                        Outstanding Invoices
                      </h5>

                      <div class="card-title-sub">
                        $753.82
                      </div>
                    </div>

                    <div class="progress mt-auto">
                      <div class="progress-bar" role="progressbar" style="width: 75%;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">3/4</div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-6 col-lg-3 d-flex">
                <div class="card mb-grid w-100">
                  <div class="card-body d-flex flex-column">
                    <div class="d-flex justify-content-between mb-3">
                      <h5 class="card-title mb-0">
                        Open Tasks
                      </h5>

                      <div class="card-title-sub">
                        18/30
                      </div>
                    </div>

                    <div class="progress mt-auto">
                      <div class="progress-bar" role="progressbar" style="width: 60%;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-6 col-lg-3 d-flex">
                <div class="card border-0 bg-primary text-white text-center mb-grid w-100">
                  <div class="d-flex flex-row align-items-center h-100">
                    <div class="card-icon d-flex align-items-center h-100 justify-content-center">
                      <i data-feather="shopping-cart"></i>
                    </div>
                    <div class="card-body">
                      <div class="card-info-title">Sales</div>
                      <h3 class="card-title mb-0">
                        768
                      </h3>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-6 col-lg-3 d-flex">
                <div class="card border-0 bg-success text-white text-center mb-grid w-100">
                  <div class="d-flex flex-row align-items-center h-100">
                    <div class="card-icon d-flex align-items-center h-100 justify-content-center">
                      <i data-feather="users"></i>
                    </div>
                    <div class="card-body">
                      <div class="card-info-title">Sign Ups (this week)</div>
                      <h3 class="card-title mb-0">
                        1,258
                      </h3>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-lg-8">

                <ul class="nav nav-tabs" id="myTab" role="tablist">
                  <li class="nav-item">
                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Buyurtmalar</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Ishchilar</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Hisob-kitob</a>
                  </li>
                </ul>
                <div class="tab-content mb-grid pt-3" id="myTabContent">
                  <div class="tab-pane fade active show" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <div class="card">
                      <div class="card-header d-flex justify-content-between">
                        <span>Buyurtmalar</span>
                        <a href="{% url 'main:order_add'%}" class="btn btn-primary" title="Ishchi qo'shish">
                          <span class="oi oi-plus"></span>
                        </a>
                      </div>
                      <div class="card mb-grid">
                        <div class="table-responsive-md">
                          <table class="table table-actions table-striped table-hover mb-0">
                            <thead>
                              <tr>
                                <th scope="col">
                                  <label class="custom-control custom-checkbox m-0 p-0">
                                    <input type="checkbox" class="custom-control-input table-select-all">
                                    <span class="custom-control-indicator"></span>
                                  </label>
                                </th>
                                <th scope="col">Xizmat nomi</th>
                                <th scope="col">Narxi</th>
                                <th scope="col">Holati</th>
      
                              </tr>
                            </thead>
                            <tbody>
                              {% for order in orders %}
                              <tr>
                                <th scope="row">
                                  <label class="custom-control custom-checkbox m-0 p-0">
                                    <input type="checkbox" class="custom-control-input table-select-row">
                                    <span class="custom-control-indicator"></span>
                                  </label>
                                </th>
                                <td>{{order.name}}</td>
                                <td>{{order.price}}</td>
                                <td>
                                  {% if order.active %}
                                  <span class="badge badge-pill badge-primary">
                                    Faol
                                  </span>
                                  {% else %}
                                  <span class="badge badge-pill badge-danger">
                                    Faol emas 
                                  </span>                          
                                  {% endif %}
                                </td>
                                <td>
                                 <a href="{% url 'main:update_order' order.id %}">
                                  <button data-toggle="modal" data-target="#modal_aside_left" class="btn btn-sm btn-primary">Edit</button>
                                 </a>
                                  <a href="{% url 'main:delete_order' order.id %}">
                                    <button data-toggle="modal" data-target="#modal_aside_left" class="btn btn-sm btn-danger">Delete</button>
                                  </a>
                                </td>
                              </tr>
                              {% empty %}
                              <p>Xizmatlar topilmadi</p>
                              {% endfor %}
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    <div class="card">
                      <div class="card-header d-flex justify-content-between">
                        <span>Ishchilar</span>
                        <a href="{% url 'main:worker_add'%}" class="btn btn-primary" title="Ishchi qo'shish">
                          <span class="oi oi-plus"></span>
                        </a>
                      </div>
                      <div class="card mb-grid">
                        <div class="table-responsive-md">
                          <table class="table table-actions table-striped table-hover mb-0">
                            <thead>
                              <tr>
                                <th scope="col">
                                  <label class="custom-control custom-checkbox m-0 p-0">
                                    <input type="checkbox" class="custom-control-input table-select-all">
                                    <span class="custom-control-indicator"></span>
                                  </label>
                                </th>
                                <th scope="col">Ism Familya</th>
                                <th scope="col">Telefon</th>
                                <th scope="col">Balans</th>
      
                              </tr>
                            </thead>
                            <tbody>
                              {% for worker in workers %}
                              <tr>
                                <th scope="row">
                                  <label class="custom-control custom-checkbox m-0 p-0">
                                    <input type="checkbox" class="custom-control-input table-select-row">
                                    <span class="custom-control-indicator"></span>
                                  </label>
                                </th>
                                <td>{{worker.name}}</td>
                                <td>{{worker.phone}}</td>
                                <td>
                                  {{worker.balance}}
                                </td>
                                <td>
                                <a href="{% url 'main:update_worker' worker.id %}">
                                  <button class="btn btn-sm btn-primary" data-toggle="modal" data-target="#modal_aside_left" >Edit</button>
                                </a>
                                 <a href="{% url 'main:delete_worker' worker.id %}">
                                  <button class="btn btn-sm btn-danger" data-toggle="modal" data-target="#modal_aside_left">Delete</button>
                                 </a>
                                </td>
                              </tr>
                              {% empty %}
                              <p>Xizmatlar topilmadi</p>
                              {% endfor %}
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                   Cash
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="card">
                  <div class="card-header">
                    Xizmatlar
                  </div>
                  <div class="card mb-grid">
                    <div class="table-responsive-md">
                      <table class="table table-actions table-striped table-hover mb-0">
                        <thead>
                          <tr>
                            <th scope="col">
                              <label class="custom-control custom-checkbox m-0 p-0">
                                <input type="checkbox" class="custom-control-input table-select-all">
                                <span class="custom-control-indicator"></span>
                              </label>
                            </th>
                            <th scope="col">Xizmat nomi</th>
                            <th scope="col">Narxi</th>
                            <th scope="col">Holati</th>
  
                          </tr>
                        </thead>
                        <tbody>
                          {% for service in services %}
                          <tr>
                            <th scope="row">
                              <label class="custom-control custom-checkbox m-0 p-0">
                                <input type="checkbox" class="custom-control-input table-select-row">
                                <span class="custom-control-indicator"></span>
                              </label>
                            </th>
                            <td>{{service.name}}</td>
                            <td>{{service.price}}</td>
                            <td>
                              {% if service.active %}
                              <span class="badge badge-pill badge-primary">
                                Faol
                              </span>
                              {% else %}
                              <span class="badge badge-pill badge-danger">
                                Faol emas 
                              </span>                          
                              {% endif %}
                            </td>
                            <td>
                              <button class="btn btn-sm btn-primary" data-toggle="modal" data-target="#modal_aside_left">Edit</button>
                              <button class="btn btn-sm btn-danger" data-toggle="modal" data-target="#modal_aside_left">Delete</button>
                            </td>
                          </tr>
                          {% empty %}
                          <p>Xizmatlar topilmadi</p>
                          {% endfor %}
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock content %}
