<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Players</title>
</head>
<body>
    <main>
        <center>
            {% for obj in filtered_objects %}
            <h4>{{obj.name}} {{obj.surname}}</h4>
            {% endfor %}
        </center>
        <section>
            <div class="container">
                <form action="">
                    {{form}}
                </form>
            </div>
            <div class="container">
                <ul>
                    <li style="display: inline-block; margin:0 20px;"><a href="#">GK</a></li>
                    <li style="display: inline-block; margin:0 20px;"><a href="#">DF</a></li>
                    <li style="display: inline-block; margin:0 20px;"><a href="#">MD</a></li>
                    <li style="display: inline-block; margin:0 20px;"><a href="#">FW</a></li>
                    <li style="display: inline-block; margin:0 20px;"><a href="#">ST</a></li>
                </ul>
            </div>
            <div class="container">
                <ul>
                    {% for club in clubs %}
                        <li style="display: inline-block; margin:0 20px;">
                            
                            <a href="{% url 'players:club_player_list' club.name %}">
                                <img width="30" src="{{club.logo.url}}" alt="">
                                {{club.name}}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="container">
                <ol>
                    {% for player in object_list %}
                        <li>
                            <h3>{{player.name}} {{player.surname}}</h3>
                            <h4>{{player.club}}</h4>
                            <h4>{{player.birthday}}</h4>
                            <h4>{{player.get_player_current_age}}</h4>
                        </li>
                    {% endfor %}
                </ol>
            </div>
        </section>
    </main>
</body>
</html>