{% extends "base.html" %}
{% load static %}
{% block content %}

      <!-- Main Content -->
      <div class="adminx-content">
        <div class="adminx-main-content">
          <div class="container-fluid">
            <!-- BreadCrumb -->
            <nav aria-label="breadcrumb" role="navigation">
              <ol class="breadcrumb adminx-page-breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Forms</a></li>
                <li class="breadcrumb-item active  aria-current="page">Advanced Elements</li>
              </ol>
            </nav>

            <div class="pb-3">
              <h1>Advanced Elements</h1>
            </div>

            <div class="row">
              <div class="col-lg-6">
                <div class="card mb-grid">
                  <div class="card-header">
                    <div class="card-header-title">Input Formats</div>
                  </div>
                  <div class="card-body">
                    <form action="" method="post">
                      {% csrf_token%}
                      {% for elem in form %}
                      <div class="form-group">
                        <label class="form-label">{{elem.label}}</label>
                        {{elem}}
                      </div>
                      {% endfor %}
                      <button type="submit" class="btn btn-primary">Submit</button>
                    </form>

                  </div>
                  <div class="card-footer">
                    Cleave.js is a small library for input formatting. Check out their <a href="http://nosir.github.io/cleave.js/" target="_blank">documentation</a>. <strong>Nice to know:</strong> There are also Angular and ReactJS components available.
                  </div>
                </div>
              </div>


            </div>
          </div>
        </div>
      </div>
      <!-- // Main Content -->
      <script>
        var choices = new Choices('.js-choice');
  
        var choices2 = new Choices('.js-choice-remove', {
          removeItemButton: true,
        });
  
        var cleave = new Cleave('.input-credit-card', {
          creditCard: true,
          onCreditCardTypeChanged: function (type) {
            // update UI ...
          }
        });
  
        var cleave2 = new Cleave('.input-date', {
          date: true,
          datePattern: ['Y', 'm', 'd']
        });
  
        var cleave3 = new Cleave('.input-numeral', {
          numeral: true,
          numeralThousandsGroupStyle: 'thousand'
        });
  
        var cleave = new Cleave('.input-prefix', {
            prefix: 'INVOICE-',
            uppercase: true
        });
  
        flatpickr(".date-default", {
          allowInput: true
        });
        flatpickr(".date-time", {
          allowInput: true,
          enableTime: true,
        });
        flatpickr(".date-human", {
          allowInput: true,
          altInput: true,
        });
        flatpickr(".date-inline", {
          allowInput: true,
          inline: true,
        });
      </script>
    </div>
    {% endblock content %}