* {
    transform-style: preserve-3d;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0076AB;
    width: 100%;
    height: 100vh;
    perspective: 3000px;
    transition: all 0.5s;
    transform-origin: center;
}

img {
    transition: all 0.5s;
}

img:hover {
    transform: rotate3d(1, 1, 0, 50deg);
}