:root {
    --myBg: #0E1623;
    --fontColor: #e2e2b5;
    --ochkok: #ADB6CB;
    --myTransition: all 0.3s ease-in-out;
}

@media screen and (max-width:1400px) {
    .container {
        padding-left: 5%;
        padding-right: 5%;
    }
    .section {
        margin-top: 40px;
        margin-bottom: 60px;
    }
}

@media screen and (max-width:1000px) {
    .container {
        padding-left: 5%;
        padding-right: 5%;
    }
    .section {
        margin-top: 30px;
        margin-bottom: 50px;
    }
    .card h1 {
        font-size: 20px;
    }
    .card p {
        font-size: 10px;
    }
}

@media screen and (max-width:700px) {
    .container {
        padding-left: 2%;
        padding-right: 2%;
    }
    .section {
        margin-top: 20px;
        margin-bottom: 30px;
    }
}

@media screen and (max-width:350px) {
    .container {
        padding-left: 2%;
        padding-right: 2%;
    }
    .section {
        margin-top: 15px;
        margin-bottom: 22px;
    }
}