@import url("animations.css");
@import url("colors.css");
.container {
    padding-left: 5%;
    padding-right: 5%;
}

.section {
    margin-top: 50px;
    margin-bottom: 70px;
}

.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    max-width: 450px;
    width: 100%;
    height: 300px;
    background: #FFFFFF;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    padding: 10px 20px;
    margin-top: 20px;
}

.card h1 {
    font-family: sans-serif;
}

.card img {
    float: right;
    width: 30%;
    height: auto;
}

.card p {
    font-family: sans-serif;
    font-size: 18px;
}

.btn {
    padding: 10px 40px;
    background-color: orange;
    border-radius: 15px;
    color: black;
}

.info {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    justify-content: space-between;
    font-family: sans-serif;
}

a {
    text-decoration: none;
}

.box {
    width: 200px;
    height: 300px;
    background-color: orange;
    margin-top: 20px;
    padding: 10px;
    animation: rotate-center 2s infinite ease-in-out;
    clip-path: polygon(30% 0%, 68% 0, 100% 0, 100% 70%, 70% 100%, 30% 100%, 0 100%, 0% 30%);
}


/* h2 {
    font-size: 25px;
    color: var(--ochkok);
} */

@media screen and (max-width:650px) {
    .container {
        flex-direction: column;
    }
    h2 {
        font-size: 18px;
    }
    .box {
        box-shadow: 5px 5px 5px red;
    }
}