*{
	box-sizing: border-box;

}
body{
	background-color: orange;
}
/*h1{
	border-style: solid;
	border-width: 3px;
	border-color: black; 
	border:solid 5px red ;
}*/
.box1{

}
.box2{
	margin-left: 80%;
}
.box3{
	margin-left: 80%;
	margin-top: 300px;
}
.box4{
	margin-top: 300px;
}
div{
	width: 100px;
	height: 100px;
	background-color: red;
	position: absolute;
	/*border-radius:10px;*/
/*	border-top-right-radius:50%; 
	border-bottom-left-radius:50%; */
/*	margin-top: 20px;
	margin-bottom:20px ;
	margin-left: 20px;
	margin-right:20px ;*/
	/*margin:20px 50px 100px 50px;*/
	/*margin: 50px 50px;
	border: solid 3px black;*/
/*	padding: 50px;
	padding-top: ;
	padding-bottom: ;
	padding-left: ;
	padding-right: ;*/
	/*padding:10px 50px 10px 50px;*/

	text-align: center;
	text-decoration:underline;
	text-indent: 80px;
		/*font-family: 'Mukta', sans-serif;*/
/*	font-style: italic;
	font-weight: bolder; 
	font-size: 15px;*/
	/*line-height: 80px;*/
	font:15px 'Mukta', sans-serif;
	/*box-sizing: content-box;*/

}
a{
	text-decoration:none;
	text-transform: capitalize;
	text-shadow: 0.5px 0.5px yellow;
}