@import url("animations.css");
@import url("colors.css");
.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    transition: var(--myTransition);
}

.box {
    width: 200px;
    height: 300px;
    background-color: orange;
    margin-top: 20px;
    padding: 10px;
    animation: rotate-center 2s infinite ease-in-out;
    clip-path: polygon(30% 0%, 68% 0, 100% 0, 100% 70%, 70% 100%, 30% 100%, 0 100%, 0% 30%);
}

h2 {
    font-size: 25px;
    color: var(--ochkok);
}

@media screen and (max-width:650px) {
    .container {
        flex-direction: column;
    }
    h2 {
        font-size: 18px;
    }
    .box {
        box-shadow: 5px 5px 5px red;
    }
}