body {
    /* animation-name: bodyColor; */
    /* animation-duration: 3s; */
    /* animation-delay: 5s; */
    /* animation-iteration-count: infinite; */
    /* infinite*/
    /* animation-direction: alternate; */
    /*normal , alternate,reverse, alternate-reverse*/
    /* animation-timing-function: ease-in-out; */
    /* animation-fill-mode: both; */
}

@keyframes bodyColor {
    from {
        background-color: red;
    }
    to {
        background-color: yellow;
    }
}

.box {
    width: 200px;
    height: 200px;
    background-color: orange;
    animation-name: toRight;
    /* animation-delay: 3s; */
    animation-duration: 5s;
    /* animation-direction: alternate-reverse; */
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes toRight {
    0% {
        transform: rotate(0deg) translateX(0px);
    }
    25% {
        transform: rotate(90deg) translateX(200px) translateY(200px);
    }
    50% {
        transform: rotate(180deg) translateX(-400px);
    }
    100% {
        transform: rotate(360deg);
        /* background-color: blue; */
    }
}