 /* * belgisi hamma css selector laga tasir otqazadi*/
*{
	margin: 0;
	padding: 0;
}
 /*https://neumorphism.io/#e0e0e0*/
 /*https://cssgradient.io/*/
 /*https://learnui.design/tools/data-color-picker.html*/
 /*https://getwaves.io/*/
 /*https://www.blobmaker.app/*/
 /*https://www.theappguruz.com/tag-tools/web/CSSAnimations/*/
 /*https://cssanimate.com/*/
 /*https://www.gradient-animator.com/*/
 /*https://www.freepik.com/*/
 /*https://www.flaticon.com/*/
 /*https://undraw.co/illustrations*/
.box > .box-inner > .box-mini{
	width: 100px;
	height: 100px;
	background-color: orange;
}
main{
	width: 100%;
	height: 100vh;
}
.mobile{
	width: 100%;
	height: 200px;
	background-color: orange;
}
.circle{
	width: 300px;
	height: 300px;
	border-radius: 50%;
	background-color: orangered;
	overflow: hidden;
	position: absolute;
}
.mount{
	width: 300px;
	height: 200px;
	transform: rotate(45deg);
	background-color: black;
	position: absolute;
	margin-top:200px;

}
@media (max-width: 768px) {
	.mobile{
		background-color: orangered;
	}
}
 @media (max-width: 412px) {
	 .mobile{
		 background-color: indianred;
	 }
 }
.box-mini{
	width: 200px;
	height: 200px;
	background-color: black;
}
p,span,i{
	font-size: 3.5em;
	color: orangered;
}
.someClass , .someClass2 , .someClass3 {

}
.box > * {
	color: yellow;
}

div.box{}
div.someClass{}

p.text{
	color: orange;
}
div.text{
	/*width: 20px, 20pt , 20mm, 20cm;*/
}
