 /* * belgisi hamma css selector laga tasir otqazadi*/
*{
	margin: 0;
	padding: 0;
	font-family: "Arial Black";
}

.box{
	margin: 50px;
	width: 200px;
	height: 200px;
	background-color: khaki;
	/*transition: width 2s;*/
	transition: all 2s;
}
.box:hover{
	width: 200px;
	height: 200px;
	background: orangered;
	/*transform: rotate3d(0,1,0,50deg);*/
	/*transform: skewX(10deg);*/
	/*transform: skewY(10deg);*/
	/*transform: skewZ(10deg);*/
	/*transform: scaleX(1.5);*/
	/*transform: scaleY(1.5);*/
	/*transform: scaleZ(1.5);*/
	/*transform: translate(200px, 200px);*/
	/*transition: ease-in-out 1s;*/
	/*transition: width 2s;*/
	/*transition-duration:2s;*/
	/*transition-delay: 5s;*/
	/*transition-timing-function:ease-in-out;*/
	/*transition-timing-function:;*/
}
button {
	padding: 10px;
	background: black;
	color: antiquewhite;
}
button:hover{
	/*transform: scale();*/
	/*transform: rotate(50deg);*/
	/*transform: translateY(5px);*/
	/*transform: translateX(5px);*/
	/*transform: translateZ(5px);*/
}
 .a{	
	 width: 200px;
	 height: 200px;
	 background: orange;
	 position: absolute;
	 margin-left: 50px;
	 z-index: 1;
 }
 .b{
	 width: 200px;
	 height: 200px;
	 background: red;
	 position: absolute;
	 margin-left: 100px;
	 z-index: 2;
 }
 .c{
	 width: 200px;
	 height: 200px;
	 background: indianred;
	 position: absolute;
	 margin-left: 150px;
	 z-index: 3;
 }

