*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins" , sans-serif;
    text-decoration:  none;
    list-style: none;
    transition: all 0.3s ease-in-out;
}

li{
    padding: 10px;
    margin: 20px;
    display: inline-flex;
}

.content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.movie{
    max-width: 300px;
}
.movie .movie-image{
    max-width: 100%;
    height: auto;
}