{% extends 'base.html' %}
{% load static %}

{% block content %}

<main>
    <div class="container" >
        <div class="d-flex justify-content-center align-items-center">
            <form class="card px-3 py-4 my-5" action="" method="POST">
                <h3>Login</h3>
                {% csrf_token %}
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">Username</label>
                  <input type="text" class="form-control" name="username" id="exampleInputEmail1" aria-describedby="emailHelp">
                  <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                </div>
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">Password</label>
                  <input type="password" name="password" class="form-control" id="exampleInputPassword1">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
        </div>
    </div>
</main>
{% endblock %}