{% load static %}
<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    {% block title %}
    <title>Home Page</title>
    {% endblock title %}


</head>
<body class="bg-light">

        <nav class="container">
            <ul>
              <li>
                <a href="/" class="contrast" onclick="event.preventDefault()"
                  ><strong>devforum</strong></a
                >
              </li>
            </ul>
            <ul>
              <!-- <li>
                <details role="list" dir="rtl">
                  <summary aria-haspopup="listbox" role="link" class="contrast">Theme</summary>
                  <ul role="listbox">
                    <li><a href="#" data-theme-switcher="auto">Auto</a></li>
                    <li><a href="#" data-theme-switcher="light">Light</a></li>
                    <li><a href="#" data-theme-switcher="dark">Dark</a></li>
                  </ul>
                </details>
              </li> -->
              <li>
                <details role="list" dir="rtl">
                  <summary aria-haspopup="listbox" role="link">
                    username

                  </summary>
                  <ul role="listbox">
                    <li><a href="../v1-preview/">Preview</a></li>
                    <li><a href="../v1-preview-rtl/">Right-to-left</a></li>
                    <li><a href="../v1-classless/">Classless</a></li>
                    <li><a href="../v1-basic-template/">Basic template</a></li>
                    <li><a href="../v1-company/">Company</a></li>
                    <li><a href="../v1-google-amp/">Google Amp</a></li>
                    <li><a href="../v1-sign-in/">Sign in</a></li>
                    <li><a href="../v1-bootstrap-grid/">Bootstrap grid</a></li>
                  </ul>
                </details>
              </li>
            </ul>
          </nav>

    
    {% block content %}
    {% endblock content %}

</body>
</html>