{% extends 'base.html' %}
{% load static %}

{% block content %}
<main class="bg-light">
    <section class="header">
        <div class="container">
            <h4 class="primary">Pico</h4>
            <div class="problems">
                <h3 class="my-auto">Top problems</h3>
                <div class="grid">
                    <article class="p-auto ">I'm a card!</article>
                    <article class="p-auto ">I'm a card!</article>
                    <article class="p-auto ">I'm a card!</article>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock content %}