body {
    padding-top: 90px;
    padding-bottom: 30px;
    background: #e1e4e8;
    color: #5a5d65;
}

a {
    color: #5071b3;
}
a:focus,
a:hover {
    color: #585858;
}
.h1, .h2, .h3, .h4, h1, h2, h3, h4 {
    color: #696969;
}

.nav-pills>li.active>a,
.nav-pills>li.active>a:hover,
.nav-pills>li.active>a:focus {
    color: #585858;
    background-color: #fff;
}


.navbar-brand {
    padding: 10px 15px;
}

.navbar-inverse {
    background-color: #4067b7;
    border-width: 0;
}

.navbar-inverse .navbar-nav > li > a {
    color: #e2e2e2;
}

.nav > li > a {
    padding-right: 10px;
    padding-left: 10px;
}

.nav > li > a.top-avatar {
    padding-top: 9px;
    padding-bottom: 9px;
}

.navbar-form {
    margin-top: 9px;
}
.navbar-form .form-group {
    position: relative;
}
.navbar-form .form-control {
    color: #8f8f8f;
    background-color: #ffffff;
    border: 1px solid #3c61ad;
    border-radius: 4px;
    height: 32px;
}
.navbar-form button {
    color: #8f8f8f;
    background: transparent;
    border: none;
    position: absolute;
    padding-top: 4px;
    padding-bottom: 4px;
    top: 3px;
    right: 4px;
}

.navbar-form .form-control::-webkit-input-placeholder {
    color: #8f8f8f;
    font-size: 13px;
}
.navbar-form .form-control::-moz-placeholder {
    color: #8f8f8f;
    font-size: 13px;
}
.navbar-form .form-control:-ms-input-placeholder {
    color: #8f8f8f;
    font-size: 13px;
}
.navbar-form .form-control:-moz-placeholder {
    color: #8f8f8f;
    font-size: 13px;
}


#history-table > thead > tr > th, 
#history-table > tbody > tr > th, 
#history-table > tfoot > tr > th, 
#history-table > thead > tr > td, 
#history-table > tbody > tr > td, 
#history-table > tfoot > tr > td {
    border-top: solid 1px rgb(194, 199, 206);
}

#account_modal .modal-content {
    background: #e1e4e8;
}

#account_modal .close {
    color: #696969;
}


#comments .comment-date {
    color: rgb(128, 128, 128);
}


.items {
    margin-right: -5px;
    padding-right: 0;
}

.item .info {
    background: #fff;
}
.item .title,
.item .title a {
    color: #292c2f;
}
.item .desc {
    color: #676a6f;
}

.btn-fav {
    background: #798cb5;
}
.btn-fav:hover,
.btn-fav:focus {
    color: #fff;
    background-color: #4067b7;
}
.btn-fav:active {
    color: #fff;
    background-color: #4067b7;
}

.btn-fav.is-favorited {
    color: #fff;
    background: #4067b7;
}
.btn-fav.is-favorited:before {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMyIgaGVpZ2h0PSIxMyIgdmlld0JveD0iMCAwIDEzIDEzIj48cGF0aCBmaWxsPSIjZmZmIiBkPSJNNi41IDkuN2wtMy40IDIuMyAxLTQuMS0zLjEtMi43IDQuMS0uMiAxLjQtNCAxLjQgNCA0LjEuMi0zLjIgMi43IDEgNC4xLTMuMy0yLjN6Ii8+PC9zdmc+);
}
.btn-fav.is-favorited:hover,
.btn-fav.is-favorited:focus {
    color: #fff;
    background: #4067b7;
}


.btn-default {
    color: #fff;
    border-color: #798cb5;
    background-color: #798cb5;
}

.btn-default:active:hover,
.btn-default.active:hover,
.open > .dropdown-toggle.btn-default:hover,
.btn-default:active:focus,
.btn-default.active:focus,
.open > .dropdown-toggle.btn-default:focus,
.btn-default:active.focus,
.btn-default.active.focus,
.open > .dropdown-toggle.btn-default.focus,
.btn-default:active,
.btn-default:hover,
.btn-default:focus {
    background: #4067b7;
    color: #fff;
    border-color: transparent;
}



.btn-own {
    background-color: #798cb5;
    border-top: solid 1px rgba(255, 255, 255, .2);
    border-bottom: solid 1px rgba(0, 0, 0, .1);
    text-shadow: 0 -1px rgba(0, 0, 0, .1);
}
.btn-own:active,
.btn-own:hover,
.btn-own:focus {
    background: #4067b7;
    color: #fff;
    border-color: transparent;
}


.input,
.textarea,
.select {
    background: #fff;
    color: #5a5d65;
}

.sidebar-telegram {
    background: #fff;
    color: #696969;
}

.pagination > li > a,
.pagination > li > span {
    margin-left: 0;
    color: #90949c;
    border: none;
    background-color: #fff;
}

.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
    z-index: 3;
    background: #4067b7;
    color: #fff;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
    background: #4067b7;
    color: #fff;
}
.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
    color: #fff;
    cursor: not-allowed;
    background-color: rgba(0, 0, 0, .08);
}

.autocomplete-suggestions {
    color: #333;
    background: #fff;
    border: none;
    border-radius: 3px;
    -webkit-box-shadow: 0 4px 10px 0 rgba(0,0,0,0.15);
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.15);
}
.autocomplete-selected {
    background: #f2f2f2;
}
.autocomplete-suggestions strong {
    font-weight: bold;
}

.tags-filter-remove {
    color: #696969;
}
.tags-filter-remove:hover {
    color: #585858;
}

.dropdown {
    position: relative;
    top: 0px;
    display: inline-block;
    margin-left: 0;
}
.dropdown-filter {
    position: relative;
    top: 5px;
    display: inline-block;
    margin-left: 15px;
}
.dropdown-filter a {
    text-decoration: none;
    border-color: transparent;
}
.dropdown-toggle {
    display: inline-block;
    text-decoration: none;
    color: #696969;
}
.dropdown-u {
    display: inline-block;
}
.dropdown-menu {
    background: #fff;
}
.dropdown-menu a,
.dropdown-menu>li>a {
    color: #90949c;
}

.dropdown-menu a:focus,
.dropdown-menu a:hover,
.dropdown-menu>li>a:focus,
.dropdown-menu>li>a:hover {
    color: #585858;
}

.dropdown-menu a.active,
.dropdown-menu a.active:focus,
.dropdown-menu a.active:hover,
.dropdown-menu>.active>a,
.dropdown-menu>.active>a:focus,
.dropdown-menu>.active>a:hover {
    color: #5c626b;
}

.nav-tabs {
    border-bottom: 1px solid #798cb5;
}
.nav-tabs>li>a {
    color: #5a5d65;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
    background-color: #798cb5;
    border-bottom: 1px solid #798cb5;
    border-bottom-color: transparent;
}
.nav-tabs>li>a:hover {
    border-color: #e1e4e8;
}
.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    color: #fff;
    background-color: #798cb5;
    border-bottom: 0px solid #798cb5;
}


.change-player {
    color: #fff;
    border-color: #798cb5;
    background-color: #798cb5;
}

.change-player:focus,
.change-player:hover {
    background: #4067b7;
}

.form-control {
    background: #fff;
    color: #696969;
}
#rating-block {
    background: #fff;
}


.premium .help {
    line-height: 1.7;
}
.premium .banks {
    margin-top: 20px;
}
.premium-blocks {
    margin-top: 50px;
}
.premium-block {
    position: relative;
    background: #fff;
    border: solid 2px #fff;
    border-radius: 4px;
    padding: 15px;
    text-align: center;
}
.premium-block .title {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 0px;
}
.premium-block .price {
    color: #5071b3;
    font-size: 20px;
    margin-bottom: 15px;
}
.premium-block .price-help {
    margin-top: 15px;
    font-size: 12px;
    color: #696969;
}
.premium-block .disabled {
    border-color: #ccc;
    background-color: #606060;
}

.premium-block .btn.disabled, 
.premium-block .btn[disabled], 
fieldset[disabled] .premium-block .btn {
    border-color: #ccc;
    background-color: #606060;
}
.premium-block .rating-star {
    position: absolute;
    top: 5px;
    right: 10px;
}

.footer:before {
    border-top: solid 1px rgb(194, 199, 206);
}


.checkbox-dropdown .btn-clear {
    margin-right: 4px;
    background: #939393;
    border-color: #939393;
}

.checkbox-dropdown>ul::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.1);
}

.audio-dropdown>ul>li.active>a,
.audio-dropdown>ul>li.active>a:focus,
.audio-dropdown>ul>li.active>a:hover {
    color: #5c626b;
}

.audio-dropdown>ul::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.1);
}
