* {
    list-style: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
}

img {
    max-width: 100%;
}

section {
    margin-top: 20px;
    margin-bottom: 30px;
}

.container {
    padding-left: 5%;
    padding-right: 5%;
}


/* .dashboard {
    display: grid;
    grid-template-columns: 150px 1fr;
    grid-template-areas: "header header" "sidebar content";
}

.header {
    grid-area: header;
    border: solid 1px lightgreen;
    background-color: rgb(139, 177, 177);
}

.sidebar {
    grid-area: sidebar;
    align-self: start;
    background-color: rgb(139, 177, 177);
}

.content {
    grid-area: content;
    border: solid 1px lightgreen;
    background-color: rgb(139, 177, 177);
    padding: 10px;
} */

.grid {
    border: solid 1px blue;
    display: grid;
    height: 600px;
    grid-template-columns: repeat(3, auto);
    /* grid-column-gap: 20px; */
    /* grid-row-gap: 30px; */
    grid-gap: 10px;
    /* grid-template-rows: 20px 50px 80px; */
    /* justify-content: center; */
    /* align-content: repeat(9, center); */
}

.item {
    background-color: aqua;
    border: solid 1px red;
    text-align: center;
    vertical-align: middle;
}


/* .item1 {
    grid-row: 1/3;
}

.item4 {
    grid-row: 2/4;
}

.item3 {
    grid-column: 3/4;
    grid-row: 1/3;
} */

@media screen and (max-width:992px) {
    .grid {
        display: grid;
        grid-template-columns: repeat(2, auto);
    }
}