* {
    list-style: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
}

img {
    max-width: 100%;
}

section {
    margin-top: 20px;
    margin-bottom: 30px;
}

.container {
    padding-left: 5%;
    padding-right: 5%;
}

.dashboard {
    display: grid;
    grid-template-areas: "header header" "sidebar content";
    grid-gap: 10px;
    grid-template-columns: 150px 1fr;
    grid-template-rows: 80px 1fr;
}

.header {
    grid-area: header;
    border: solid 1px lightcoral;
    padding: 10px 15px;
}

.sidebar {
    grid-area: sidebar;
    border: solid 1px lightcoral;
    padding: 10px 15px;
    align-self: start;
}

.content {
    grid-area: content;
    border: solid 1px lightcoral;
    padding: 10px 15px;
}