@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html{
    overflow-y: hidden;
}
nav{
    width: 100%;
    height: 50px;
    background-color: orange;
}
#nav{
    float: right;
    z-index: 1;
}
li {
    display: inline-block;
    margin-left:20px ;
}
#nav > li > a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}
.brand-logo{
    position: relative;
}
#side-menu{
    display: block;
    width: 250px;
    height: 100vh;
    background-color: #0ad1b9;
    position:absolute;
    left: -255px;
    list-style: none;
    transition: all 0.5s;
}
#side-menu  li{
    display: list-item;
    margin: 5px 15px;
}
#side-menu li a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    transition: all 0.3s;

}
#side-menu li a:hover{
    letter-spacing: 0.5px;
}
.close a{
    color: white;
    text-decoration: none;
    font-size: 35px;
    font-weight: bold;
    transition: all 0.3s;
    float: right;
}
.close a i{
    font-size: 30px;
}