* {
    text-decoration: none;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    /* list-style: none; */
    transition: all 0.3s ease-in-out;
}

main {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 100px;
}
nav{
    background-color: orange;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav> ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
nav ul li{
    margin: 0px 15px;
}
nav ul li a{
    font-size: 1.2em;
    font-weight: bold;
}
li.active a{
    color: red;
}

.modal{
    width: 300px;
    height: auto;
    background-color: orange;
    border-radius: 25px;
    box-shadow: 2px 2px 5px black;
    padding: 10px 20px;
}
.close{
    font-size: 2.5em;
    font-weight: bold;
    float: right;
}
.divider {
    width: 100%;
    height: 600px;
}
.blocks{
    border: solid 2px pink;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap:1px;
    padding: 50px;
    background-color: orange;
    transform: rotate(-180deg);
    height: 300px;
}
.block{
    width: 15px;
    height: 100px;
    background-color: black;
    
}
.box{
    width: 200px;
    height: 200px;
    background-color: orange;
}