* {
    text-decoration: none;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    /* list-style: none; */
    transition: all 0.3s ease-in-out;
}

.container {
    max-width: 1400px;
    padding-left: 5%;
    padding-right: 5%;
}

.row {
    width: 100%;
    display: flex;
    flex-wrap: wrap-reverse;
}

main {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 100px;
}

em {
    width: 100px;
    display: none;
    padding: 10px;
    background-color: #865b5b;
}

.blue-bg {
    background-color: #1e43bd;
}

.panel-a {
    width: 100%;
    padding: 50px;
    border-radius: 20px;
    background-color: #dfdfdf;
}

.panel {
    border: 1px solid;
    border-radius: 5px;
    cursor: pointer;
}

.panel p {
    display: none;
}