body{
	/*background-color: red;*/
	/*background-image: url("https://static.pexels.com/photos/248515/pexels-photo-248515.png");*/
	background-image: url("../images/ice4.jpg");
	/*background-attachment:fixed; */	/*fon qimirlamaydi*/
	/*background-position: center; top, left,right*/
	/*background-repeat: no-repeat;*/ /*takrorlanish*/
	/*background-size: cover;*/ /*butunlay qoplab tushish*/
}
button{
	padding: 20px;
	background-color: transparent;
	border-radius: 10px;
}
button:hover{
	background-color: green;
}