@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
body{
	font-family: 'Poppins', sans-serif;
}
h1{
	font-family: 'Bebas Neue', cursive;
}
i.fas{
	font-size: 60px;
	color: orange;
}
.box{
	/*display: block;*/
	width: 100%;
	height: 600px;
	background: orange;
}
/*li{
	display: inline-block;
	padding: 10px;
	background: #232328;
	color: white;
	opacity: 1;
}
li:hover{
	opacity: 0.9;
}
*/
.box{
	display: flex;
	flex-wrap: wrap; /* no-wrap */
	justify-content: center;
	align-content: center;
}
.A{
	width: 100px;
	height: 100px;
	background: #232328;
	margin: 20px;
	
}
.B{
	width: 100px;
	height: 100px;
	background: #232328;
	margin: 20px;
}
.C{
	width: 100px;
	height: 100px;
	background: #232328;
	margin: 20px;
}