*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.box{
	width: 100px;
	height: 100px;
	background: orange;
	float: left;
}
img{
	display: block;
	margin: 0px auto 0px auto;
	opacity: 0.80;
}
div p {
	color: red;
	font-size: 25px;
}
div > p {

}

div > * {

}
div:first-child{
	color:yellow;
}
div:last-child{
	color:blue;
}
/*ul{
	margin: 50px;
}*/
.box:hover{
	width: 150px;
	height: 150px;
	background: yellow;
}
input[type="checkbox"]:checked{
	width: 50px;
	height: 50px;
}
input[type="email"]{
	color: red;
	padding: 10px;
}
input[type='submit']{
	padding: 10px;
	border:none;
	outline: none;
	background: orange;	
	cursor: pointer;
}
p:after{
	content: "P dan oldin";
	color: yellow;
}
p:before{
	content: "P dan keyin";
	color: blue;
}
p:first-letter{
	color:pink;
	font-size: 30px;
}
p:first-line{
	color:green;
	font-size: 30px;
}
::selection{
	color: green;
	background: blue;}
ul{
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
li{
	display: inline-block;
}
li > a{
	color: white;
	font-size: 20px;
	text-decoration: none;
	padding: 18px 16px;
}
a.active{
	background-color: #04AA6D;
}
li.right{
	float: right;
}
li > a:hover{
	background:#04AA6D ;
}