.container{
	width: 400px;
	height: 400px;
	/*display: flex;*/
	background: orange;
	/*flex-wrap: wrap;*/
	/*flex-direction: row; */
	/* column */
	/*justify-content: center;*/
	 /* flex-start, flex-end*/
	/*align-content: center; */
	/*flex-start, flex-end*/ 
	border:solid 1px red;
	overflow: hidden;
}

.box{
	width: 200px;
	height: 200px;
	background: orange;
	margin:10px;
	/*position: absolute;*/

	/*display: inline-block;*/
}
.first{
	top:50px;
	left:0;
	background: red;
	z-index: 1;
	transform: rotate(45deg);
}
.second{
	top: 100px;
	left:50px;
	background: pink;
	z-index: 0;
}
.third{
	top:150px;
	left:100px;
	background: green;
	z-index: 0;
}