body{
	background-color: #232328;

}
 .zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  }
  @-webkit-keyframes zoomIn {
  0% {
  opacity: 0;
  -webkit-transform: scale3d(.3, .3, .3);
  transform: scale3d(.3, .3, .3);
  }
  50% {
  opacity: 1;
  }
  }
  @keyframes zoomIn {
  0% {
  opacity: 0;
  -webkit-transform: scale3d(.3, .3, .3);
  transform: scale3d(.3, .3, .3);
  }
  50% {
  opacity: 1;
  }
  } 
footer{
	background: url("../images/wave.svg");
	width: 100%;
	height: 300px;
}
.box{
	margin:100px 100px;
	width: 200px;
	height: 200px;
	border-radius: 29px;
	background: #dd4040;
	box-shadow:  15px 15px 30px #bc3636,
	             -15px -15px 30px #fe4a4a;
	             clip-path: polygon(50% 0%, 83% 12%, 41% 26%, 94% 78%, 29% 44%, 6% 78%, 0% 43%, 17% 12%);
}
svg{
	width: 200px;
	height: auto;
}