*{

}

body{
	background-color: lightgreen;
	/*perspective: 2000px;*/ /**/
	transition: all 0.3s;
}
.box{
	width: 200px;
	height: 200px;
	background-color: orange;
	margin: 100px 100px;
	box-shadow:1px 1px 1px red; 	 
	transform-origin: 50% 50%;

	/*transition: width 3s;*/
	/*transition-delay: 2000ms;*/
	/*transition-duration: 4s;
	transition-property: width;
	transition-timing-function: linear;*/ /*ease, ease-in , ease-out, ease-in-out*/
	/*transition: width 2s linear;*/
	
}
.box:hover{
	width: 400px;
	background-color: red;
	/*transform: translate(X,Y);*/
	/*transform: translateX(100px) translateY(50px);*/
	/*transform: rotate(45deg);*/
	/*transform: scale(1);*/
	/*transform: scaleX(1.2);*/
	/*transform: scaleY(1.2);*/
	/*transform: skewX(20deg);*/
	/*transform: skewY(20deg);*/
	/*transform: skew(45deg,20deg);*/

	/*transform: rotateX(45deg);*/
	/*transform: rotateY(45deg);*/
	/*transform: rotateZ(-20deg);*/
	/*transform: rotate3d(X,Y,Z, 20deg);*/
	/*transform: rotate3d(1,1,0, 70deg);*/
	/*transform: translate3d(100px , 50px, 100px)*/
	/*transform: scale3d(1.1,1.5,1);*/
}
.A{
	width: 200px;
	height: 50px;
	border-radius: 10px;
	border:solid 5px red;

}
.B{
	background-color: black;
	height: 50px;
	width: 0px;
	transition: width 3s;
}
.A:hover .B{
	width: 200px;
}