body{
	/*background: khaki;*/
	animation-name: changeColor;
	animation-delay: 0s;
	animation-duration: 5s;
	animation-direction: reverse; /*reverse, alternate-reverse*/
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}
.box{
	width: 800px;
	height: 800px;
	/*background: orange;*/
	padding: 100px 50px;
	perspective: 3000px;
	transform-origin: 90% 90%;
	/*animation: toRight 5s alternate infinite;*/
}
.b{
	width: 200px;
	height: 200px;
	background: linear-gradient(orange,red);
	box-shadow: 0.5px 0.5px 5px red;
	animation: toTransform 3s alternate infinite;
	transition: all 1s;
}
@keyframes toTransform{
	from{
		transform: rotate3d(1,0,0, 0deg) translateX(0px);
		margin-right: 0px;
		background: linear-gradient(orange, red);
		transition: all 1s;
	}
	to{
		transform: rotate3d(1,0,0, 50deg) translateX(500px);
		margin-right: 100px;
		background: linear-gradient(red, orange);
		transition: all 1s;
	}
}
@keyframes changeColor{
/*	from{
		background: red;
	}
	to{
		background: yellow;
	}*/
/*	0%{
		background: red;
	}
	50%{
		background: blue;
	}
	75%{
		background: green;
	}
	100%{
		background: yellow;
	}*/
}