body{
	background-color: orange;
}

h1{
	color: blue;
	font-size: 40px;
}
p{
	color: white;
	text-align: right;
}
.headerText{
	font-family: "Arial Black";
	background-color: rgb(168, 171, 26);
}
.title{
	font-size: 50px;
}
/*red class i matnni qizil qiladi*/
.red{
	/*color: red;*/
	color: indianred;
}
#footerText{
	font-size: 40px;
	font-family: "Verdana";
	color:lightblue;
}