
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    transition: all 0.5s ease-in-out;
    font-family: var(--my-font);
}
html{
    overflow-x: hidden;
}
a{
    color: #1D242B;
}
body{
    background-color: var(--bg-color);
   
}
img{
    max-width: 100%;
}
.container{
    max-width: 1200px;
    padding: 0 5%;
    margin: 0 auto;
}
nav .navbar{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content:space-between ;
    align-items: center;
}

div.logo a{
    font-size: 26px;
    font-weight: 900;
    color: #c8bebe;
}
li .navbar li a{
    font-size: 21px;
    color: #1D242B;
}

ul.navbar li, .icon{
    margin: 0 10px;
}
.navbar li a.active{
    font-weight: 700;
}

nav .mobile-navbar{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content:space-between ;
    align-items: center;
    display: none;
}

.mobile-menu{
    width: 100%;
    height: 700px;
    display: flex;
    align-items: flex-end;
    display: none;
}
.menu-items{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.menu-item:nth-child(1) div{
    font-size: 21px;
    color: #1D242B;
    margin: 10px 0;
}
.active{
    display: block;
}