.container{
	max-width: 500px;
	height: 200px;
	background-color: orange;
	border: solid 1px red;
	padding: 10px;
	overflow: hidden; /*hidden ,scroll ,auto, visible*/
	display:inline-block; /*block , none*/
	/*position: fixed;
	top:200px;
	left: 500px;*/
	/*position: sticky;
	top:0;*/

}
