@import
*{ 
	/*all tags */
	box-sizing: border-box;
}
body{

}
h1,h2,h3,h4{
	color: black;
}

.box{
	width: 200px;
	height: 200px;
	background: orange;
	margin: auto;

	/*display: inline-block;*/
	/*float: left;*/
	/*float: left; right none*/

}
div > p{
	/*color: blue;*/
}
div , h1 , span{

}
.box p{
	color: blue;
	padding: 20px;
}
/* unvisited link */
a:link {
  color: blue;
}

/* visited link */
a:visited {
  color: yellow;
}

/* mouse over link */
a:hover {
  color: lightblue;
}

/* selected link */
a:active {
  color: black;
}
.box:hover{
	width: 500px;
	height: 500px;
	opacity: 0.5;
}
/*p:first-letter{
	font-size: 45px;
}*/
/*p:first-line{
	font-size: 45px;
}*/
::selection{
	color: yellow;
	background: black;
}