.box{
	width: 200px;
	height: 200px;
	background-color: orange;
	/*transition-delay:0.5s; */
	/*transition-duration: 3s;*/
	/*transition-property: width;*/
	/*transition-timing-function: linear;*/
	/*transition: width 2s ease ;*/
	/*transition: all 2s;*/

}
.box:hover{
	/*transform: translate(200px , 0px);*/
	background-color: yellow;
	width: 400px;
}