
:root{
    --title-text-size:30px;
    --subtitle-text-size:20px;
    --body-bg-color:#dfdfe3;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    transition: all 0.3s ease-in-out;
}
body{
    overflow-x: hidden;
    background-color: var(--body-bg-color);
}
section{
    margin: 150px 0;
}
.container{
    padding: 0 7%;
    margin: 0 auto; 
}
