/*@import "main.css";
@import "style.css";*/
/*@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css");*/


/*body{
	background-color: var(--qora-kok);
	transition: var(--mening-transitionim);
}
@media (min-width: 412px){
	body{
		background-color:green;
	}
}
@media (max-width: 768px){
	body{
		background-color:red;
	}
}*/
.box{
	width: 200px;
	height: 100px;
	background-color: orange;
	margin: 50px 10px;
}

body {
  background-color: tan;
}

/* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 1200px) {
  body {
    background-color: blue;
  }
  .box{
  	display: inline-block;
  }
}
@media screen and (max-width:768px ){
	.box{
  		display: inline-block;
  		background: red;
  }
}
/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 400px) {
  body {
    background-color: olive;
  }
    .box{
  	display: block;
  	background: orange;
  }
}