img{
	/*opacity: 0.5;*/
}
span{
	padding: 10px;
	background: orange;
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.box{
	margin: 50px 20px;
	width: 200px;
	height: 200px;
	background: orange;
	transition: all 0.3s;
	clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 35% 50%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
	
}
button{
	margin: 50px 20px;
	padding: 10px 20px 10px 20px;
	background: khaki;
	border:none;
	outline: none;
}
.start:hover .box{
	border-top-right-radius: 100%;
	transition: all 300ms;
}
.banner{
	width: 100%;
	height: 300px;
	background: khaki;
	opacity: 0.7;
	clip-path: polygon(45% 0, 100% 0,
	 100% 100%, 0% 100%);
}
.circle{
	width: 800px;
	height: 800px;
	background-color: orange;
	border-radius: 50%;
	position: absolute;
	top:20%;
	left: -30%;
	box-shadow: 0px 5px 10px 5px black;
}
body{
	background:linear-gradient(
		to bottom right,#58B8BB, 
		#EAEAEA);
}