body{
/*	animation-name: changeColor2;
	animation-delay: 0s;
	animation-duration: 5s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-timing-function: linear;*/
}
.box{
	margin: 100px 100px;
	width: 200px;
	height: 200px;
	background-color: orange;
	/*animation: changePos 3s infinite linear;*/
	animation-name: changePos;
	animation-delay: 1s;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in;
	animation-direction: alternate;
}
@keyframes changePos{
	from{
		transform: translateX(0px) rotate(0deg) scale(1);
	}
	to{
		transform: translateX(300px) rotate(360deg) scale(1.2);
	}
}

@keyframes changeColor{
	from{
		background-color: red;
	}
	to{
		background-color: yellow;
	}
}


@keyframes changeColor2{
	0%{
		background-color: green;
	}
	20%{
		background-color: red;
	}
	50%{
		background-color: orange;
	}
	80%{
		background-color: blue;
	}
	100%{
		background-color: khaki;
	}
}