@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Signika Negative', sans-serif;
}
header{
	background-image: url("https://static.pexels.com/photos/248515/pexels-photo-248515.png"); 
	height: 400px;
	opacity: 0.8;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
.content-wrap{
	text-align: center;
	/*display: flex;
	justify-content: center;
	align-content: center;*/
}
.content-wrap h1{
	padding-top: 100px;
    padding-bottom: 0;
    color: white;
    font-weight: bolder;
}
.content-wrap > p{
	padding-top: 30px;
    padding-bottom: 10;
    color: white;
}
.btn{
	display: inline-block;
    background: #333;
    color: #fff;
    text-decoration: none;
    padding: 1em 2em;
    border: 1px solid #666;
    margin: 0.5em 0;
}
.content{
	width: 70%;
	margin-left:auto; 
	margin-right: auto; 
	padding: 10px 50px 10px 50px;
	display: flex;
	/*flex-direction: row;*/
	/*flex-wrap: wrap;*/
	justify-content: center;
	align-content: center;

}
.card{
	position: relative;
	width: 33.33%;
	background:white;
	margin-left:20px;

}
.card > h2, p {
	margin: 20px; 
}
.card> img{
	display: block;
    width: 100%;
    height: auto;
}
.blue{
	text-align: center;
	padding: 30px;
	background-color: dodgerblue;
	color: white;
}
.black{
	background-color: #232328;
	text-align: center;
	padding: 30px;
	color: white;
	margin-left: -5px;

}
table{
	border-spacing: 0px;
}
footer{
	background-color:  #232328;
	color: white;
	line-height: 90px;
}