/**{
	color: blue;
}*/
/* This is a single-line comment */
body{
	background-color: white;
}

h1,h2,h3, span, p{
	color: blue;
	text-align: center; /*left , right*/
}
.greenText{
	color: blue;
}
.header{
	background-color: yellow;
}
h1.footer{
	color: lightblue;
}
#footer{
	width: 100%;
	height: 100px;
	background-color: tomato;
}
p{

}