{% extends "wrapper.html" %} {% load static %} {% block content %}

<div id="main" class="container">
  <a href="filmsa692.html?sort=viewed_week" class="h3">Популярные фильмы</a>

  <div class="row items">
    <div class="col-xs-2 item">
      <a href="film/221685-pila-10.html">
        <img
          src="{{movie.poster.url}}"
          class="img-responsive"
          loading="lazy"
          alt="Пила 10 (2023)"
          title="Пила 10 (2023)"
          width="242"
          height="358"
        />
      </a>

      <button
        class="favorite"
        data-movie-id="221685"
        title="Добавить в избранное"
      ></button>

      <div class="info">
        <div class="title">
          <a
            href="film/221685-pila-10.html"
            class="link"
            alt="{{movie.title}}"
            title="{{movie.title}}"
            >{{movie.title}}</a
          >
        </div>
        <div class="desc">{{movie.year}}, {{movie.quality}}</div>
      </div>
    </div>
    <div class="col-xs-2 item">
      <a href="film/221727-iskusstvo-po-ponyatiyam.html">
        <img
          src="../st.kinobase.org/storage/242x358/posters/2023/10/b4c2dda2367decec356e.jpg"
          class="img-responsive"
          loading="lazy"
          alt="Искусство по понятиям (2023)"
          title="Искусство по понятиям (2023)"
          width="242"
          height="358"
        />
      </a>

      <button
        class="favorite"
        data-movie-id="221727"
        title="Добавить в избранное"
      ></button>

      <div class="info">
        <div class="title">
          <a
            href="film/221727-iskusstvo-po-ponyatiyam.html"
            class="link"
            alt="Искусство по понятиям (2023)"
            title="Искусство по понятиям (2023)"
            >Искусство по понятиям</a
          >
        </div>
        <div class="desc">2023, TS</div>
      </div>
    </div>
    <div class="col-xs-2 item">
      <a href="film/221688-klyk.html">
        <img
          src="../st.kinobase.org/storage/242x358/posters/2023/10/4672ca8e9714b816bc87.jpg"
          class="img-responsive"
          loading="lazy"
          alt="Клык (2023)"
          title="Клык (2023)"
          width="242"
          height="358"
        />
      </a>

      <button
        class="favorite"
        data-movie-id="221688"
        title="Добавить в избранное"
      ></button>

      <div class="info">
        <div class="title">
          <a
            href="film/221688-klyk.html"
            class="link"
            alt="Клык (2023)"
            title="Клык (2023)"
            >Клык</a
          >
        </div>
        <div class="desc">2023, HDRip</div>
      </div>
    </div>
    <div class="col-xs-2 item">
      <a href="film/216897-sozdatel.html">
        <img
          src="../st.kinobase.org/storage/242x358/posters/2023/10/e544a77bf54fc6c10084.jpg"
          class="img-responsive"
          loading="lazy"
          alt="Создатель (2023)"
          title="Создатель (2023)"
          width="242"
          height="358"
        />
      </a>

      <button
        class="favorite"
        data-movie-id="216897"
        title="Добавить в избранное"
      ></button>

      <div class="info">
        <div class="title">
          <a
            href="film/216897-sozdatel.html"
            class="link"
            alt="Создатель (2023)"
            title="Создатель (2023)"
            >Создатель</a
          >
        </div>
        <div class="desc">2023, TS</div>
      </div>
    </div>
    <div class="col-xs-2 item">
      <a href="film/221558-posle-navsegda.html">
        <img
          src="../st.kinobase.org/storage/242x358/posters/2023/09/2f8f0ec304894a6f3c40.jpg"
          class="img-responsive"
          loading="lazy"
          alt="После. Навсегда (2023)"
          title="После. Навсегда (2023)"
          width="242"
          height="358"
        />
      </a>

      <button
        class="favorite"
        data-movie-id="221558"
        title="Добавить в избранное"
      ></button>

      <div class="info">
        <div class="title">
          <a
            href="film/221558-posle-navsegda.html"
            class="link"
            alt="После. Навсегда (2023)"
            title="После. Навсегда (2023)"
            >После. Навсегда</a
          >
        </div>
        <div class="desc">2023, TS</div>
      </div>
    </div>
    <div class="col-xs-2 item">
      <a href="film/216952-neuderzhimye-4.html">
        <img
          src="../st.kinobase.org/storage/242x358/posters/2023/09/22419cf8ca15f8c033ff.jpg"
          class="img-responsive"
          loading="lazy"
          alt="Неудержимые 4 (2023)"
          title="Неудержимые 4 (2023)"
          width="242"
          height="358"
        />
      </a>

      <button
        class="favorite"
        data-movie-id="216952"
        title="Добавить в избранное"
      ></button>

      <div class="info">
        <div class="title">
          <a
            href="film/216952-neuderzhimye-4.html"
            class="link"
            alt="Неудержимые 4 (2023)"
            title="Неудержимые 4 (2023)"
            >Неудержимые 4</a
          >
        </div>
        <div class="desc">2023, TS</div>
      </div>
    </div>
    <div class="col-xs-2 item">
      <a href="film/220603-proklyatie-monahini-2.html">
        <img
          src="../st.kinobase.org/storage/242x358/posters/2023/09/c71291ff7697278e74b5.jpg"
          class="img-responsive"
          loading="lazy"
          alt="Проклятие монахини 2 (2023)"
          title="Проклятие монахини 2 (2023)"
          width="242"
          height="358"
        />
      </a>

      <button
        class="favorite"
        data-movie-id="220603"
        title="Добавить в избранное"
      ></button>

      <span class="label label-danger">Лицензия</span>

      <div class="info">
        <div class="title">
          <a
            href="film/220603-proklyatie-monahini-2.html"
            class="link"
            alt="Проклятие монахини 2 (2023)"
            title="Проклятие монахини 2 (2023)"
            >Проклятие монахини 2</a
          >
        </div>
        <div class="desc">2023, BDRip</div>
      </div>
    </div>
    <div class="col-xs-2 item">
      <a href="film/221426-velikiy-uravnitel-3.html">
        <img
          src="../st.kinobase.org/storage/242x358/posters/2023/09/6f3f90dfb44101da1afc.jpg"
          class="img-responsive"
          loading="lazy"
          alt="Великий уравнитель 3 (2023)"
          title="Великий уравнитель 3 (2023)"
          width="242"
          height="358"
        />
      </a>

      <button
        class="favorite"
        data-movie-id="221426"
        title="Добавить в избранное"
      ></button>

      <div class="info">
        <div class="title">
          <a
            href="film/221426-velikiy-uravnitel-3.html"
            class="link"
            alt="Великий уравнитель 3 (2023)"
            title="Великий уравнитель 3 (2023)"
            >Великий уравнитель 3</a
          >
        </div>
        <div class="desc">2023, TS</div>
      </div>
    </div>
    <div class="col-xs-2 item">
      <a href="film/220097-vyzov.html">
        <img
          src="../st.kinobase.org/storage/242x358/posters/2023/09/71faf7c77be0a397d8e8.jpg"
          class="img-responsive"
          loading="lazy"
          alt="Вызов (2023)"
          title="Вызов (2023)"
          width="242"
          height="358"
        />
      </a>

      <button
        class="favorite"
        data-movie-id="220097"
        title="Добавить в избранное"
      ></button>

      <span class="label label-danger">Лицензия</span>

      <div class="info">
        <div class="title">
          <a
            href="film/220097-vyzov.html"
            class="link"
            alt="Вызов (2023)"
            title="Вызов (2023)"
            >Вызов</a
          >
        </div>
        <div class="desc">2023, BDRip</div>
      </div>
    </div>
    <div class="col-xs-2 item">
      <a href="film/215268-bugimen.html">
        <img
          src="../st.kinobase.org/storage/242x358/posters/2023/09/9e2d589c3152427a2a3a.jpg"
          class="img-responsive"
          loading="lazy"
          alt="Бугимен (2023)"
          title="Бугимен (2023)"
          width="242"
          height="358"
        />
      </a>

      <button
        class="favorite"
        data-movie-id="215268"
        title="Добавить в избранное"
      ></button>

      <div class="info">
        <div class="title">
          <a
            href="film/215268-bugimen.html"
            class="link"
            alt="Бугимен (2023)"
            title="Бугимен (2023)"
            >Бугимен</a
          >
        </div>
        <div class="desc">2023, HDRip</div>
      </div>
    </div>
    <div class="col-xs-2 item">
      <a href="film/220481-podvodnyy-kapkan.html">
        <img
          src="../st.kinobase.org/storage/242x358/posters/2023/08/b18f6dcb7720c387553f.jpg"
          class="img-responsive"
          loading="lazy"
          alt="Подводный капкан (2023)"
          title="Подводный капкан (2023)"
          width="242"
          height="358"
        />
      </a>

      <button
        class="favorite"
        data-movie-id="220481"
        title="Добавить в избранное"
      ></button>

      <div class="info">
        <div class="title">
          <a
            href="film/220481-podvodnyy-kapkan.html"
            class="link"
            alt="Подводный капкан (2023)"
            title="Подводный капкан (2023)"
            >Подводный капкан</a
          >
        </div>
        <div class="desc">2023, HDRip</div>
      </div>
    </div>
    <div class="col-xs-2 item">
      <a href="film/219434-siniy-zhuk.html">
        <img
          src="../st.kinobase.org/storage/242x358/posters/2023/08/c1479eeef06a62941d5c.jpg"
          class="img-responsive"
          loading="lazy"
          alt="Синий Жук (2023)"
          title="Синий Жук (2023)"
          width="242"
          height="358"
        />
      </a>

      <button
        class="favorite"
        data-movie-id="219434"
        title="Добавить в избранное"
      ></button>

      <span class="label label-danger">Лицензия</span>

      <div class="info">
        <div class="title">
          <a
            href="film/219434-siniy-zhuk.html"
            class="link"
            alt="Синий Жук (2023)"
            title="Синий Жук (2023)"
            >Синий Жук</a
          >
        </div>
        <div class="desc">2023, BDRip</div>
      </div>
    </div>
  </div>

  <a href="films.html" class="h3">Новые фильмы</a>

  <div class="row items">
    <div class="col-xs-2 item">
      <a href="film/220603-proklyatie-monahini-2.html">
        <img
          src="../st.kinobase.org/storage/242x358/posters/2023/09/c71291ff7697278e74b5.jpg"
          class="img-responsive"
          loading="lazy"
          alt="Проклятие монахини 2 (2023)"
          title="Проклятие монахини 2 (2023)"
          width="242"
          height="358"
        />
      </a>

      <button
        class="favorite"
        data-movie-id="220603"
        title="Добавить в избранное"
      ></button>

      <span class="label label-danger">Лицензия</span>

      <div class="info">
        <div class="title">
          <a
            href="film/220603-proklyatie-monahini-2.html"
            class="link"
            alt="Проклятие монахини 2 (2023)"
            title="Проклятие монахини 2 (2023)"
            >Проклятие монахини 2</a
          >
        </div>
        <div class="desc">2023, BDRip</div>
      </div>
    </div>
    <div class="col-xs-2 item">
      <a href="film/221746-vozvraschenie.html">
        <img
          src="../st.kinobase.org/storage/242x358/posters/2023/10/bcdc065c3042fc5357e2.jpg"
          class="img-responsive"
          loading="lazy"
          alt="Возвращение (2023)"
          title="Возвращение (2023)"
          width="242"
          height="358"
        />
      </a>

      <button
        class="favorite"
        data-movie-id="221746"
        title="Добавить в избранное"
      ></button>

      <div class="info">
        <div class="title">
          <a
            href="film/221746-vozvraschenie.html"
            class="link"
            alt="Возвращение (2023)"
            title="Возвращение (2023)"
            >Возвращение</a
          >
        </div>
        <div class="desc">2023, HDRip</div>
      </div>
    </div>
    <div class="col-xs-2 item">
      <a href="film/221742-pridatok.html">
        <img
          src="../st.kinobase.org/storage/242x358/posters/2023/10/9e9eb973b0a0bc60e2f7.jpg"
          class="img-responsive"
          loading="lazy"
          alt="Придаток (2023)"
          title="Придаток (2023)"
          width="242"
          height="358"
        />
      </a>

      <button
        class="favorite"
        data-movie-id="221742"
        title="Добавить в избранное"
      ></button>

      <div class="info">
        <div class="title">
          <a
            href="film/221742-pridatok.html"
            class="link"
            alt="Придаток (2023)"
            title="Придаток (2023)"
            >Придаток</a
          >
        </div>
        <div class="desc">2023, HDRip</div>
      </div>
    </div>
    <div class="col-xs-2 item">
      <a href="film/217418-oppengeymer.html">
        <img
          src="../st.kinobase.org/storage/242x358/posters/2023/07/883d6b8407cd628edddc.jpg"
          class="img-responsive"
          loading="lazy"
          alt="Оппенгеймер (2023)"
          title="Оппенгеймер (2023)"
          width="242"
          height="358"
        />
      </a>

      <button
        class="favorite"
        data-movie-id="217418"
        title="Добавить в избранное"
      ></button>

      <div class="info">
        <div class="title">
          <a
            href="film/217418-oppengeymer.html"
            class="link"
            alt="Оппенгеймер (2023)"
            title="Оппенгеймер (2023)"
            >Оппенгеймер</a
          >
        </div>
        <div class="desc">2023, TS</div>
      </div>
    </div>
    <div class="col-xs-2 item">
      <a href="film/196360-moya-super-byvshaya.html">
        <img
          src="../st.kinobase.org/storage/242x358/posters/2023/10/35ca4f0a899d5dcfcb87.jpg"
          class="img-responsive"
          loading="lazy"
          alt="Моя супер-бывшая (2006)"
          title="Моя супер-бывшая (2006)"
          width="242"
          height="358"
        />
      </a>

      <button
        class="favorite"
        data-movie-id="196360"
        title="Добавить в избранное"
      ></button>

      <span class="label label-danger">Лицензия</span>

      <div class="info">
        <div class="title">
          <a
            href="film/196360-moya-super-byvshaya.html"
            class="link"
            alt="Моя супер-бывшая (2006)"
            title="Моя супер-бывшая (2006)"
            >Моя супер-бывшая</a
          >
        </div>
        <div class="desc">2006, BDRip</div>
      </div>
    </div>
    <div class="col-xs-2 item">
      <a href="film/5120-illyuziya-poleta.html">
        <img
          src="../st.kinobase.org/storage/242x358/posters/2023/10/e7de241c89988ae36f2f.jpg"
          class="img-responsive"
          loading="lazy"
          alt="Иллюзия полета (2005)"
          title="Иллюзия полета (2005)"
          width="242"
          height="358"
        />
      </a>

      <button
        class="favorite"
        data-movie-id="5120"
        title="Добавить в избранное"
      ></button>

      <span class="label label-danger">Лицензия</span>

      <div class="info">
        <div class="title">
          <a
            href="film/5120-illyuziya-poleta.html"
            class="link"
            alt="Иллюзия полета (2005)"
            title="Иллюзия полета (2005)"
            >Иллюзия полета</a
          >
        </div>
        <div class="desc">2005, BDRip</div>
      </div>
    </div>
    <div class="col-xs-2 item">
      <a href="film/221738-realiti.html">
        <img
          src="../st.kinobase.org/storage/242x358/posters/2023/10/f2edac4363f3e683c9fb.jpg"
          class="img-responsive"
          loading="lazy"
          alt="Реалити (2023)"
          title="Реалити (2023)"
          width="242"
          height="358"
        />
      </a>

      <button
        class="favorite"
        data-movie-id="221738"
        title="Добавить в избранное"
      ></button>

      <div class="info">
        <div class="title">
          <a
            href="film/221738-realiti.html"
            class="link"
            alt="Реалити (2023)"
            title="Реалити (2023)"
            >Реалити</a
          >
        </div>
        <div class="desc">2023, HDRip</div>
      </div>
    </div>
    <div class="col-xs-2 item">
      <a href="film/221737-agent-ali-film.html">
        <img
          src="../st.kinobase.org/storage/242x358/posters/2023/10/9da0b2b878d808dd6689.jpg"
          class="img-responsive"
          loading="lazy"
          alt="Агент Али. Фильм (2019)"
          title="Агент Али. Фильм (2019)"
          width="242"
          height="358"
        />
      </a>

      <button
        class="favorite"
        data-movie-id="221737"
        title="Добавить в избранное"
      ></button>

      <span class="label label-danger">Лицензия</span>

      <div class="info">
        <div class="title">
          <a
            href="film/221737-agent-ali-film.html"
            class="link"
            alt="Агент Али. Фильм (2019)"
            title="Агент Али. Фильм (2019)"
            >Агент Али. Фильм</a
          >
        </div>
        <div class="desc">2019, BDRip</div>
      </div>
    </div>
    <div class="col-xs-2 item">
      <a href="film/208358-legion-supergeroev.html">
        <img
          src="../st.kinobase.org/storage/242x358/posters/2023/02/ee3a38d3b7f4d23b9a36.jpg"
          class="img-responsive"
          loading="lazy"
          alt="Легион супергероев (2023)"
          title="Легион супергероев (2023)"
          width="242"
          height="358"
        />
      </a>

      <button
        class="favorite"
        data-movie-id="208358"
        title="Добавить в избранное"
      ></button>

      <div class="info">
        <div class="title">
          <a
            href="film/208358-legion-supergeroev.html"
            class="link"
            alt="Легион супергероев (2023)"
            title="Легион супергероев (2023)"
            >Легион супергероев</a
          >
        </div>
        <div class="desc">2023, BDRip</div>
      </div>
    </div>
    <div class="col-xs-2 item">
      <a href="film/221736-zverolend.html">
        <img
          src="../st.kinobase.org/storage/242x358/posters/2023/10/099b58fa62892cbeb053.jpg"
          class="img-responsive"
          loading="lazy"
          alt="Зверолэнд (2022)"
          title="Зверолэнд (2022)"
          width="242"
          height="358"
        />
      </a>

      <button
        class="favorite"
        data-movie-id="221736"
        title="Добавить в избранное"
      ></button>

      <span class="label label-danger">Лицензия</span>

      <div class="info">
        <div class="title">
          <a
            href="film/221736-zverolend.html"
            class="link"
            alt="Зверолэнд (2022)"
            title="Зверолэнд (2022)"
            >Зверолэнд</a
          >
        </div>
        <div class="desc">2022, BDRip</div>
      </div>
    </div>
    <div class="col-xs-2 item">
      <a href="film/219295-ledi-bag-i-super-kot-probuzhdenie-sily.html">
        <img
          src="../st.kinobase.org/storage/242x358/posters/2023/10/7a0f65b26c0c40fddea0.jpg"
          class="img-responsive"
          loading="lazy"
          alt="Леди Баг и Супер-Кот: Пробуждение силы (2023)"
          title="Леди Баг и Супер-Кот: Пробуждение силы (2023)"
          width="242"
          height="358"
        />
      </a>

      <button
        class="favorite"
        data-movie-id="219295"
        title="Добавить в избранное"
      ></button>

      <span class="label label-danger">Лицензия</span>

      <div class="info">
        <div class="title">
          <a
            href="film/219295-ledi-bag-i-super-kot-probuzhdenie-sily.html"
            class="link"
            alt="Леди Баг и Супер-Кот: Пробуждение силы (2023)"
            title="Леди Баг и Супер-Кот: Пробуждение силы (2023)"
            >Леди Баг и Супер-Кот: Пробуждение силы</a
          >
        </div>
        <div class="desc">2023, BDRip</div>
      </div>
    </div>
    <div class="col-xs-2 item">
      <a href="film/221728-shepoty-mertvogo-doma.html">
        <img
          src="../st.kinobase.org/storage/242x358/posters/2023/10/db70f60fa82ff84f3a1b.jpg"
          class="img-responsive"
          loading="lazy"
          alt="Шепоты мертвого дома (2021)"
          title="Шепоты мертвого дома (2021)"
          width="242"
          height="358"
        />
      </a>

      <button
        class="favorite"
        data-movie-id="221728"
        title="Добавить в избранное"
      ></button>

      <span class="label label-danger">Лицензия</span>

      <div class="info">
        <div class="title">
          <a
            href="film/221728-shepoty-mertvogo-doma.html"
            class="link"
            alt="Шепоты мертвого дома (2021)"
            title="Шепоты мертвого дома (2021)"
            >Шепоты мертвого дома</a
          >
        </div>
        <div class="desc">2021, BDRip</div>
      </div>
    </div>
  </div>

  <a href="serials.html" class="h3">Новые сериалы</a>

  <div class="row items">
    <div class="col-xs-2 item">
      <a href="serial/221723-mendelson.html">
        <img
          src="../st.kinobase.org/storage/242x358/posters/2023/10/054f496cbaec4ad2c890.jpg"
          class="img-responsive"
          loading="lazy"
          alt="Мендельсон (2023)"
          title="Мендельсон (2023)"
          width="242"
          height="358"
        />
      </a>

      <button
        class="favorite"
        data-movie-id="221723"
        title="Добавить в избранное"
      ></button>

      <span class="label label-danger">4 серия</span>

      <div class="info">
        <div class="title">
          <a
            href="serial/221723-mendelson.html"
            class="link"
            alt="Мендельсон (2023)"
            title="Мендельсон (2023)"
            >Мендельсон</a
          >
        </div>
        <div class="desc">2023, HDRip</div>
      </div>
    </div>
    <div class="col-xs-2 item">
      <a href="serial/221637-ira.html">
        <img
          src="../st.kinobase.org/storage/242x358/posters/2023/09/bcd3e826d391598cfac1.jpg"
          class="img-responsive"
          loading="lazy"
          alt="Ира (2023)"
          title="Ира (2023)"
          width="242"
          height="358"
        />
      </a>

      <button
        class="favorite"
        data-movie-id="221637"
        title="Добавить в избранное"
      ></button>

      <span class="label label-danger">6 серия</span>

      <div class="info">
        <div class="title">
          <a
            href="serial/221637-ira.html"
            class="link"
            alt="Ира (2023)"
            title="Ира (2023)"
            >Ира</a
          >
        </div>
        <div class="desc">2023, HDRip</div>
      </div>
    </div>
    <div class="col-xs-2 item">
      <a href="serial/178846-ubijstva-v-odnom-zdanii.html">
        <img
          src="../st.kinobase.org/storage/242x358/posters/2021/09/9a6ce6b4e066a83bd7d0.jpg"
          class="img-responsive"
          loading="lazy"
          alt="Убийства в одном здании (2021)"
          title="Убийства в одном здании (2021)"
          width="242"
          height="358"
        />
      </a>

      <button
        class="favorite"
        data-movie-id="178846"
        title="Добавить в избранное"
      ></button>

      <span class="label label-danger">3 сезон 10 серия</span>

      <div class="info">
        <div class="title">
          <a
            href="serial/178846-ubijstva-v-odnom-zdanii.html"
            class="link"
            alt="Убийства в одном здании (2021)"
            title="Убийства в одном здании (2021)"
            >Убийства в одном здании</a
          >
        </div>
        <div class="desc">2021, HDRip</div>
      </div>
    </div>
    <div class="col-xs-2 item">
      <a href="serial/196384-roditeli-goda.html">
        <img
          src="../st.kinobase.org/storage/242x358/posters/2022/07/96d46b6e290e3cd63e53.jpg"
          class="img-responsive"
          loading="lazy"
          alt="Родители года (2020)"
          title="Родители года (2020)"
          width="242"
          height="358"
        />
      </a>

      <button
        class="favorite"
        data-movie-id="196384"
        title="Добавить в избранное"
      ></button>

      <span class="label label-danger">Все серии</span>

      <div class="info">
        <div class="title">
          <a
            href="serial/196384-roditeli-goda.html"
            class="link"
            alt="Родители года (2020)"
            title="Родители года (2020)"
            >Родители года</a
          >
        </div>
        <div class="desc">2020, HDRip</div>
      </div>
    </div>
    <div class="col-xs-2 item">
      <a href="serial/219120-superivanovy.html">
        <img
          src="../st.kinobase.org/storage/242x358/posters/2023/08/83478f6c04095c6bc395.jpg"
          class="img-responsive"
          loading="lazy"
          alt="СуперИвановы (2023)"
          title="СуперИвановы (2023)"
          width="242"
          height="358"
        />
      </a>

      <button
        class="favorite"
        data-movie-id="219120"
        title="Добавить в избранное"
      ></button>

      <span class="label label-danger">30 серия</span>

      <div class="info">
        <div class="title">
          <a
            href="serial/219120-superivanovy.html"
            class="link"
            alt="СуперИвановы (2023)"
            title="СуперИвановы (2023)"
            >СуперИвановы</a
          >
        </div>
        <div class="desc">2023, HDRip</div>
      </div>
    </div>
    <div class="col-xs-2 item">
      <a href="serial/150876-ivanko.html">
        <img
          src="../st.kinobase.org/storage/242x358/posters/2023/09/eb072f1bfa769b6764b7.jpg"
          class="img-responsive"
          loading="lazy"
          alt="Иванько (2019)"
          title="Иванько (2019)"
          width="242"
          height="358"
        />
      </a>

      <button
        class="favorite"
        data-movie-id="150876"
        title="Добавить в избранное"
      ></button>

      <span class="label label-danger">2 сезон 11 серия</span>

      <div class="info">
        <div class="title">
          <a
            href="serial/150876-ivanko.html"
            class="link"
            alt="Иванько (2019)"
            title="Иванько (2019)"
            >Иванько</a
          >
        </div>
        <div class="desc">2019, HDRip</div>
      </div>
    </div>
    <div class="col-xs-2 item">
      <a href="serial/221377-papiny-dochki-novye.html">
        <img
          src="../st.kinobase.org/storage/242x358/posters/2023/09/c11276b4118c15be4a1f.jpg"
          class="img-responsive"
          loading="lazy"
          alt="Папины дочки. Новые (2023)"
          title="Папины дочки. Новые (2023)"
          width="242"
          height="358"
        />
      </a>

      <button
        class="favorite"
        data-movie-id="221377"
        title="Добавить в избранное"
      ></button>

      <span class="label label-danger">18 серия</span>

      <div class="info">
        <div class="title">
          <a
            href="serial/221377-papiny-dochki-novye.html"
            class="link"
            alt="Папины дочки. Новые (2023)"
            title="Папины дочки. Новые (2023)"
            >Папины дочки. Новые</a
          >
        </div>
        <div class="desc">2023, HDRip</div>
      </div>
    </div>
    <div class="col-xs-2 item">
      <a href="serial/221457-pervyy-otdel.html">
        <img
          src="../st.kinobase.org/storage/242x358/posters/2020/11/8a23935fb4c8143b85a6.jpg"
          class="img-responsive"
          loading="lazy"
          alt="Первый отдел (2020)"
          title="Первый отдел (2020)"
          width="242"
          height="358"
        />
      </a>

      <button
        class="favorite"
        data-movie-id="221457"
        title="Добавить в избранное"
      ></button>

      <span class="label label-danger">Все серии</span>

      <div class="info">
        <div class="title">
          <a
            href="serial/221457-pervyy-otdel.html"
            class="link"
            alt="Первый отдел (2020)"
            title="Первый отдел (2020)"
            >Первый отдел</a
          >
        </div>
        <div class="desc">2020, HDRip</div>
      </div>
    </div>
    <div class="col-xs-2 item">
      <a href="serial/221243-trepachi.html">
        <img
          src="../st.kinobase.org/storage/242x358/posters/2023/09/746921e8feea7f7ce109.jpg"
          class="img-responsive"
          loading="lazy"
          alt="Трепачи (2023)"
          title="Трепачи (2023)"
          width="242"
          height="358"
        />
      </a>

      <button
        class="favorite"
        data-movie-id="221243"
        title="Добавить в избранное"
      ></button>

      <span class="label label-danger">5 серия</span>

      <div class="info">
        <div class="title">
          <a
            href="serial/221243-trepachi.html"
            class="link"
            alt="Трепачи (2023)"
            title="Трепачи (2023)"
            >Трепачи</a
          >
        </div>
        <div class="desc">2023, HDRip</div>
      </div>
    </div>
    <div class="col-xs-2 item">
      <a href="serial/221740-krutaya-peremena.html">
        <img
          src="../st.kinobase.org/storage/242x358/posters/2023/09/b1a517eaec56c9a587eb.jpg"
          class="img-responsive"
          loading="lazy"
          alt="Крутая перемена (2023)"
          title="Крутая перемена (2023)"
          width="242"
          height="358"
        />
      </a>

      <button
        class="favorite"
        data-movie-id="221740"
        title="Добавить в избранное"
      ></button>

      <span class="label label-danger">7 серия</span>

      <div class="info">
        <div class="title">
          <a
            href="serial/221740-krutaya-peremena.html"
            class="link"
            alt="Крутая перемена (2023)"
            title="Крутая перемена (2023)"
            >Крутая перемена</a
          >
        </div>
        <div class="desc">2023, HDRip</div>
      </div>
    </div>
    <div class="col-xs-2 item">
      <a href="serial/221605-bednye-abramovichi.html">
        <img
          src="../st.kinobase.org/storage/242x358/posters/2023/09/dc5ab8d983e0060abe6d.jpg"
          class="img-responsive"
          loading="lazy"
          alt="Бедные Абрамовичи (2022)"
          title="Бедные Абрамовичи (2022)"
          width="242"
          height="358"
        />
      </a>

      <button
        class="favorite"
        data-movie-id="221605"
        title="Добавить в избранное"
      ></button>

      <span class="label label-danger">4 серия</span>

      <div class="info">
        <div class="title">
          <a
            href="serial/221605-bednye-abramovichi.html"
            class="link"
            alt="Бедные Абрамовичи (2022)"
            title="Бедные Абрамовичи (2022)"
            >Бедные Абрамовичи</a
          >
        </div>
        <div class="desc">2022, HDRip</div>
      </div>
    </div>
    <div class="col-xs-2 item">
      <a href="serial/195272-letuchie-mediki.html">
        <img
          src="../st.kinobase.org/storage/242x358/posters/2022/07/5f58b162cdb04781fe71.jpg"
          class="img-responsive"
          loading="lazy"
          alt="Летучие медики (2022)"
          title="Летучие медики (2022)"
          width="242"
          height="358"
        />
      </a>

      <button
        class="favorite"
        data-movie-id="195272"
        title="Добавить в избранное"
      ></button>

      <span class="label label-danger">2 сезон 1 серия</span>

      <div class="info">
        <div class="title">
          <a
            href="serial/195272-letuchie-mediki.html"
            class="link"
            alt="Летучие медики (2022)"
            title="Летучие медики (2022)"
            >Летучие медики</a
          >
        </div>
        <div class="desc">2022, HDRip</div>
      </div>
    </div>
  </div>

  <a href="tv.html" class="h3">Новые телепередачи</a>

  <div class="row items">
    <div class="col-xs-2 item">
      <a href="tv_show/212388-chto-gde-kogda.html">
        <img
          src="../st.kinobase.org/storage/242x358/posters/2015/6/ZSIhcoLGAe.jpg"
          class="img-responsive"
          loading="lazy"
          alt="Что? Где? Когда? (2023)"
          title="Что? Где? Когда? (2023)"
          width="242"
          height="358"
        />
      </a>

      <button
        class="favorite"
        data-movie-id="212388"
        title="Добавить в избранное"
      ></button>

      <span class="label label-danger">Осенняя серия игр 2 выпуск</span>

      <div class="info">
        <div class="title">
          <a
            href="tv_show/212388-chto-gde-kogda.html"
            class="link"
            alt="Что? Где? Когда? (2023)"
            title="Что? Где? Когда? (2023)"
            >Что? Где? Когда?</a
          >
        </div>
        <div class="desc">2023, HDTVRip</div>
      </div>
    </div>
    <div class="col-xs-2 item">
      <a href="tv_show/212600-shou-voli.html">
        <img
          src="../st.kinobase.org/storage/242x358/posters/2023/04/063a765973287d9c8b4d.jpg"
          class="img-responsive"
          loading="lazy"
          alt="Шоу Воли (2023)"
          title="Шоу Воли (2023)"
          width="242"
          height="358"
        />
      </a>

      <button
        class="favorite"
        data-movie-id="212600"
        title="Добавить в избранное"
      ></button>

      <span class="label label-danger">24 выпуск</span>

      <div class="info">
        <div class="title">
          <a
            href="tv_show/212600-shou-voli.html"
            class="link"
            alt="Шоу Воли (2023)"
            title="Шоу Воли (2023)"
            >Шоу Воли</a
          >
        </div>
        <div class="desc">2023, HDRip</div>
      </div>
    </div>
    <div class="col-xs-2 item">
      <a href="tv_show/220954-liga-gorodov.html">
        <img
          src="../st.kinobase.org/storage/242x358/posters/2023/09/2b6fa476e1fe9faa2858.jpg"
          class="img-responsive"
          loading="lazy"
          alt="Лига городов (2023)"
          title="Лига городов (2023)"
          width="242"
          height="358"
        />
      </a>

      <button
        class="favorite"
        data-movie-id="220954"
        title="Добавить в избранное"
      ></button>

      <span class="label label-danger">3 выпуск</span>

      <div class="info">
        <div class="title">
          <a
            href="tv_show/220954-liga-gorodov.html"
            class="link"
            alt="Лига городов (2023)"
            title="Лига городов (2023)"
            >Лига городов</a
          >
        </div>
        <div class="desc">2023, HDRip</div>
      </div>
    </div>
    <div class="col-xs-2 item">
      <a href="tv_show/215270-zvezdy-v-afrike.html">
        <img
          src="../st.kinobase.org/storage/242x358/posters/2022/09/0f656ba4780015caab16.jpg"
          class="img-responsive"
          loading="lazy"
          alt="Звезды в Африке (2021)"
          title="Звезды в Африке (2021)"
          width="242"
          height="358"
        />
      </a>

      <button
        class="favorite"
        data-movie-id="215270"
        title="Добавить в избранное"
      ></button>

      <span class="label label-danger">5 сезон 3 выпуск</span>

      <div class="info">
        <div class="title">
          <a
            href="tv_show/215270-zvezdy-v-afrike.html"
            class="link"
            alt="Звезды в Африке (2021)"
            title="Звезды в Африке (2021)"
            >Звезды в Африке</a
          >
        </div>
        <div class="desc">2021, HDRip</div>
      </div>
    </div>
    <div class="col-xs-2 item">
      <a href="tv_show/6709-ufc-mma-box.html">
        <img
          src="../st.kinobase.org/storage/242x358/posters/2020/03/b155ec04e8de1f44a344.jpg"
          class="img-responsive"
          loading="lazy"
          alt="UFC / MMA / BOX (2019)"
          title="UFC / MMA / BOX (2019)"
          width="242"
          height="358"
        />
      </a>

      <button
        class="favorite"
        data-movie-id="6709"
        title="Добавить в избранное"
      ></button>

      <span class="label label-danger">Бокс: Альварес vs Чарло</span>

      <div class="info">
        <div class="title">
          <a
            href="tv_show/6709-ufc-mma-box.html"
            class="link"
            alt="UFC / MMA / BOX (2019)"
            title="UFC / MMA / BOX (2019)"
            >UFC / MMA / BOX</a
          >
        </div>
        <div class="desc">2019, HDTVRip</div>
      </div>
    </div>
    <div class="col-xs-2 item">
      <a href="tv_show/215043-zhenskij-stand-up.html">
        <img
          src="../st.kinobase.org/storage/242x358/posters/2022/09/bf8e80cbca3500445240.jpg"
          class="img-responsive"
          loading="lazy"
          alt="Женский Stand Up (2020)"
          title="Женский Stand Up (2020)"
          width="242"
          height="358"
        />
      </a>

      <button
        class="favorite"
        data-movie-id="215043"
        title="Добавить в избранное"
      ></button>

      <span class="label label-danger">5 сезон 4 выпуск</span>

      <div class="info">
        <div class="title">
          <a
            href="tv_show/215043-zhenskij-stand-up.html"
            class="link"
            alt="Женский Stand Up (2020)"
            title="Женский Stand Up (2020)"
            >Женский Stand Up</a
          >
        </div>
        <div class="desc">2020, HDRip</div>
      </div>
    </div>
    <div class="col-xs-2 item">
      <a href="tv_show/215038-ekstrasensy-bitva-silneyshih.html">
        <img
          src="../st.kinobase.org/storage/242x358/posters/2023/04/e40fa29cbf34a90e67b7.jpg"
          class="img-responsive"
          loading="lazy"
          alt="Экстрасенсы. Битва сильнейших (2023)"
          title="Экстрасенсы. Битва сильнейших (2023)"
          width="242"
          height="358"
        />
      </a>

      <button
        class="favorite"
        data-movie-id="215038"
        title="Добавить в избранное"
      ></button>

      <span class="label label-danger">17 выпуск</span>

      <div class="info">
        <div class="title">
          <a
            href="tv_show/215038-ekstrasensy-bitva-silneyshih.html"
            class="link"
            alt="Экстрасенсы. Битва сильнейших (2023)"
            title="Экстрасенсы. Битва сильнейших (2023)"
            >Экстрасенсы. Битва сильнейших</a
          >
        </div>
        <div class="desc">2023, HDRip</div>
      </div>
    </div>
    <div class="col-xs-2 item">
      <a href="tv_show/9663-uralskie-pelmeni.html">
        <img
          src="../st.kinobase.org/storage/242x358/posters/2015/5/b0VSSqCK59.jpg"
          class="img-responsive"
          loading="lazy"
          alt="Уральские пельмени (2019)"
          title="Уральские пельмени (2019)"
          width="242"
          height="358"
        />
      </a>

      <button
        class="favorite"
        data-movie-id="9663"
        title="Добавить в избранное"
      ></button>

      <span class="label label-danger">29.09.2023</span>

      <div class="info">
        <div class="title">
          <a
            href="tv_show/9663-uralskie-pelmeni.html"
            class="link"
            alt="Уральские пельмени (2019)"
            title="Уральские пельмени (2019)"
            >Уральские пельмени</a
          >
        </div>
        <div class="desc">2019, HDRip</div>
      </div>
    </div>
    <div class="col-xs-2 item">
      <a href="tv_show/220775-improvizatory.html">
        <img
          src="../st.kinobase.org/storage/242x358/posters/2023/03/7af780655516d5472114.jpg"
          class="img-responsive"
          loading="lazy"
          alt="Импровизаторы (2023)"
          title="Импровизаторы (2023)"
          width="242"
          height="358"
        />
      </a>

      <button
        class="favorite"
        data-movie-id="220775"
        title="Добавить в избранное"
      ></button>

      <span class="label label-danger">2 сезон 3 выпуск</span>

      <div class="info">
        <div class="title">
          <a
            href="tv_show/220775-improvizatory.html"
            class="link"
            alt="Импровизаторы (2023)"
            title="Импровизаторы (2023)"
            >Импровизаторы</a
          >
        </div>
        <div class="desc">2023, HDRip</div>
      </div>
    </div>
    <div class="col-xs-2 item">
      <a href="tv_show/10009-stand-up.html">
        <img
          src="../st.kinobase.org/storage/242x358/posters/2021/01/59c602f12978fd6e18a9.jpg"
          class="img-responsive"
          loading="lazy"
          alt="Stand Up (2013)"
          title="Stand Up (2013)"
          width="242"
          height="358"
        />
      </a>

      <button
        class="favorite"
        data-movie-id="10009"
        title="Добавить в избранное"
      ></button>

      <span class="label label-danger">11 сезон 2 выпуск</span>

      <div class="info">
        <div class="title">
          <a
            href="tv_show/10009-stand-up.html"
            class="link"
            alt="Stand Up (2013)"
            title="Stand Up (2013)"
            >Stand Up</a
          >
        </div>
        <div class="desc">2013, HDRip</div>
      </div>
    </div>
    <div class="col-xs-2 item">
      <a href="tv_show/221706-golos-uzhe-ne-deti.html">
        <img
          src="../st.kinobase.org/storage/242x358/posters/2023/09/2079e03a473c98cfc709.jpg"
          class="img-responsive"
          loading="lazy"
          alt="Голос. Уже не дети (2023)"
          title="Голос. Уже не дети (2023)"
          width="242"
          height="358"
        />
      </a>

      <button
        class="favorite"
        data-movie-id="221706"
        title="Добавить в избранное"
      ></button>

      <span class="label label-danger">5 выпуск</span>

      <div class="info">
        <div class="title">
          <a
            href="tv_show/221706-golos-uzhe-ne-deti.html"
            class="link"
            alt="Голос. Уже не дети (2023)"
            title="Голос. Уже не дети (2023)"
            >Голос. Уже не дети</a
          >
        </div>
        <div class="desc">2023, HDTVRip</div>
      </div>
    </div>
    <div class="col-xs-2 item">
      <a href="tv_show/9671-comedy-club.html">
        <img
          src="../st.kinobase.org/storage/242x358/posters/2020/11/ca796fb25f7d5ee69ca7.jpg"
          class="img-responsive"
          loading="lazy"
          alt="Comedy Club (2005)"
          title="Comedy Club (2005)"
          width="242"
          height="358"
        />
      </a>

      <button
        class="favorite"
        data-movie-id="9671"
        title="Добавить в избранное"
      ></button>

      <span class="label label-danger">29.09.2023</span>

      <div class="info">
        <div class="title">
          <a
            href="tv_show/9671-comedy-club.html"
            class="link"
            alt="Comedy Club (2005)"
            title="Comedy Club (2005)"
            >Comedy Club</a
          >
        </div>
        <div class="desc">2005, HDRip</div>
      </div>
    </div>
  </div>

  <div class="footer">
    <p>
      По всем вопросам пишите на электронную почту <a href="#" class="mail"></a>
    </p>
  </div>
</div>

<div
  class="modal"
  id="account_modal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="true"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span
          ><span class="sr-only">Закрыть</span>
        </button>
        <h4 class="modal-title">Вход</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-7">
            <div id="modal_login_content" style="display: none">
              <div class="alert alert-danger" style="display: none"></div>
              <form
                action="https://kinobase.org/login"
                id="modal_login_form"
                method="post"
                role="form"
              >
                <div class="form-group">
                  <input
                    type="email"
                    class="form-control"
                    name="email"
                    id="modal_login_email"
                    value=""
                    placeholder="Электронная почта"
                  />
                </div>

                <div class="form-group">
                  <input
                    type="password"
                    class="form-control"
                    name="password"
                    id="modal_login_password"
                    placeholder="Пароль"
                  />
                </div>

                <div class="form-group">
                  <button type="submit" class="btn btn-default">Войти</button>
                </div>
              </form>

              <div style="margin-top: 30px">
                <p><a href="recover.html" class="recover">Забыли пароль?</a></p>
                <p>
                  <a href="registration.html" class="register"
                    >Зарегистрироваться</a
                  >
                </p>
              </div>
            </div>

            <div id="modal_recover_content" style="display: none">
              <div class="alert alert-success" style="display: none"></div>
              <div class="alert alert-danger" style="display: none"></div>
              <form
                action="https://kinobase.org/recover"
                id="modal_recover_form"
                method="post"
                role="form"
              >
                <div class="form-group">
                  <input
                    type="email"
                    class="form-control"
                    name="email"
                    id="modal_recover_email"
                    value=""
                    placeholder="Электронная почта"
                  />
                </div>

                <div class="form-group">
                  <button type="submit" class="btn btn-default">
                    Отправить
                  </button>
                </div>
              </form>

              <div style="margin-top: 30px">
                <p><a href="login.html" class="login">Войти</a></p>
              </div>
            </div>

            <div id="modal_register_content" style="display: none">
              <div class="alert alert-success" style="display: none"></div>
              <div class="alert alert-danger" style="display: none"></div>
              <form
                action="https://kinobase.org/registration"
                id="modal_register_form"
                method="post"
                role="form"
              >
                <div class="form-group">
                  <input
                    type="text"
                    class="form-control"
                    name="name"
                    id="modal_register_name"
                    value=""
                    placeholder="Имя пользователя"
                  />
                </div>

                <div class="form-group">
                  <input
                    type="email"
                    class="form-control"
                    name="email"
                    id="modal_register_email"
                    value=""
                    placeholder="Электронная почта"
                  />
                </div>

                <div class="form-group">
                  <input
                    type="password"
                    class="form-control"
                    name="password"
                    id="modal_register_password"
                    placeholder="Пароль"
                  />
                </div>

                <div class="form-group">
                  <input
                    type="password"
                    class="form-control"
                    name="password_confirmation"
                    id="modal_register_password_confirmation"
                    placeholder="Подтвердите пароль"
                  />
                </div>

                <div class="form-group">
                  <div
                    class="g-recaptcha"
                    data-sitekey="6Ld5MCUTAAAAALXvmUFVUdqxSgy9a8Kf3zeVvGEJ"
                  ></div>
                </div>

                <div class="form-group">
                  <button type="submit" class="btn btn-default">
                    Зарегистрироваться
                  </button>
                </div>
              </form>

              <div style="margin-top: 30px">
                <p><a href="login.html" class="login">Войти</a></p>
              </div>
            </div>
          </div>

          <div class="col-sm-4">
            <div class="registration-social-login">
              <a
                class="btn-own btn-vk"
                href="javascript:void(0);"
                onclick="ulogin.vkontakte('ulogin.html');"
                ><span class="icon-vkontakte"></span> Войти через Вконтакте</a
              >
              <a
                class="btn-own btn-ok"
                href="javascript:void(0);"
                onclick="ulogin.odnoklassniki('ulogin.html');"
                ><span class="icon-odnoklassniki"></span> Войти через
                Одноклассники</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
